<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>首页</title>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<script type="text/javascript" src="bootstrap.min.js"></script>
		<link rel="stylesheet" href="static/css/style.css" />
		<link rel="stylesheet" href="static/css/home.css" />
		<link rel="stylesheet" href="static/css/ydui.rem.css">
		<link rel="stylesheet" href="static/css/common.css">
		<link rel="stylesheet" href="static/css/index.css">
		<link rel="stylesheet" href="static/css/mkui.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script src="js/ydui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				var _this1 = null;
				$('.nav>li').hover(function() {
					_this1 = $(this);
					_this1.find('.second-nav').show();
					var _this2 = null;
					_this1.find('.second-nav').find('li').hover(function() {
						_this2 = $(this);
						_this2.find('.third-nav').show();
						_this2.find('.third-nav').hover(function() {
							$(this).show();
						}, function() {
							$(this).hide();
						});
					}, function() {
						_this2.find('.third-nav').hide();
					});
				}, function() {
					_this1.find('.second-nav').hide();
				});
			});
		</script>

	</head>

	<body>
		<div class="header">
			<ul class="nav">
				<li><a href="#">首页</a>
				</li>
				<li><a href="#">发布</a>
					<ul class="second-nav">
						<li><a href="#">招聘发布</a></li>
						<li><a href="#">招标发布</a></li>
						<li><a href="#">供应发布</a></li>
						<li><a href="#">求职发布</a></li>
					</ul>
				</li>
				<li><a href="#">找信息</a>
					<ul class="second-nav">
						<li><a href="#">招聘信息</a></li>
						<li><a href="#">招标信息</a></li>
						<li><a href="#">供应信息</a></li>
						<li><a href="#">求职信息</a></li>
					</ul>
				</li>
				<li><a href="#">我的</a>
					<ul class="second-nav">
						<li><a href="#">收藏</a></li>
						<li><a href="#">我的订阅</a></li>
						<li><a href="#">我的发布</a></li>
						<li><a href="#">我的投标</a></li>
						<li><a href="#">意见反馈</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div id="app" class="content">
			<yd-slider id="yd_slider" v-if="imglist.length>0" autoplay="5000">
				<yd-slider-item v-for="item in imglist">
					<a :href="item.url">
						<img :src="item.url" />
					</a>
				</yd-slider-item>
			</yd-slider>
			<div class="listarea_zixun">
				<div class="tongzhi overflow-h" v-if='zxlist.length>0'>
					<div class="tongzhi_wenzi clearfix pos">
						<ul class="tongzhi_lunbo">
							<li v-for="item in zxlist" class="clearfix overflow-h">
								<a :href="'home/zixun/zixundetail.html?id='+item.id" class="huojiang overflow-h">
									<i class="ico ico-tongzhi fl"></i>
									<p class="fl">
										<nobr>{{item.title}}</nobr>
									</p>
								</a>
								<span class="fr more">
                        		<a href="home/zixun/zixun.html">更多<i class="ico-right"></i></a>
                    		</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="listarea">
				<div class="listitem_left">
					<h2 class="module-title pd-10 overflow-h border-b">
						<i class="ico-zhaopin fl"></i>
						<span class="fl more-main">最新招聘</span>
                         <span class="fr more">
						      <a href="home/zhaopin/employment.html">更多<i class="ico-right"></i></a>
					    </span>
        		         </h2>
					<div class="m-list">
						<ul>
							<li v-for="item in zplist" class="overflow-h  border-b padd">
								<a :href='"home/zhaopin/zhaopindetail.html?id="+item.id'>
									<div class="recruit-list fl ml-10 ">
										<div class="recruit-header overflow-h">
											<h3 class="fl w-55 ov-h">{{item.title}}</h3>
											<p class="fr">
												{{item.salary}}
											</p>
										</div>
										<div class="recruit-header overflow-h">
											<h4 class="fl">{{item.orgName}}</h4>
											<span class="fr time">{{item.updatedAt}}</span>
										</div>
										<p class="recruit-pos mr-10"><span>{{item.city}}</span> <span class="mr-10">{{item.experience}}</span> <span class="">{{item.education}}</span></p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="listitem_right">
					<h2 class="module-title  overflow-h border-b">
					    <i class="ico-qiuzhi fl"></i>
					    <span class="fl more-main">最新求职</span>
            		        <span class="fr more">
            			         <a href="home/qiuzhi/qiuzhi.html">更多<i class="ico-right"></i></a>
            		        </span>
				     </h2>
					<div class="m-list">
						<ul>
							<li v-for="item in qzlist" class="overflow-h  border-b padd">
								<a :href="'home/qiuzhi/qiuzhidetail.html?id='+item.id">
									<div class="recruit-list fl ml-10 ">
										<div class="recruit-header overflow-h">
											<h3 class="fl w-55 ov-h">{{item.title}}</h3>
											<p class="fr">
												{{item.salary}}
											</p>
										</div>
										<div class="recruit-header overflow-h">
											<ul class="name-list overflow-h fl">
												<li>
													<!--{{item.showfullname==1?item.orgName:hideStr(item.orgName)}}-->
												</li>
												<li>
													{{item.gender}}性
												</li>
												<li>
													{{item.age}}
												</li>
											</ul>
											<span class="fr time">{{item.updatedAt}}</span>
										</div>
										<p class="recruit-pos mr-10"><span>{{item.city}}</span> <span class="mr-10">{{item.experience}}</span> <span class="">{{item.education}}</span></p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="listarea">
				<div class="listitem_left">
					<h2 class="module-title  overflow-h border-b">
					     <i class="ico-zhaobiao fl"></i> 
					     <span class="fl more-main">最新招标</span> 
					     <span class="fr more">
						     <a href="home/zhaobiao/zhaobiao.html">更多<i class="ico-right"></i></a>
					     </span>
				     </h2>
					<div class="m-list">
						<ul>
							<li v-for="item in zblist" class="overflow-h  border-b padd">
								<a :href='"home/zhaobiao/zhaobiaodetail.html?id="+item.id'>
									<div class="recruit-list fl ml-10 ">
										<div class="recruit-header overflow-h">
											<h3 class="fl w-55 ov-h">{{item.title}}</h3>
											<p class="fr">
												{{item.price==''?'面议':item.price}}/{{item.unit}}
											</p>
										</div>
										<div class="recruit-header overflow-h">
											<h4 class="fl">{{item.city}}<span>{{item.quantity==-1||item.quantity==''?'已招标文件为主   单位:':item.quantity}}{{item.unit}}</span></h4>
											<span class="fr time">{{item.updatedAt}}</span>
										</div>
										<p class="recruit-pos">
											{{item.orgName}}
										</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="listitem_right">
					<h2 class="module-title pd-10 overflow-h border-b">
					     <i class="ico-gongying fl"></i> 
					     <span class="fl more-main">最新供应</span> 
					     <span class="fr more">
						     <a href="home/gongying/gongying.html">更多<i class="ico-right"></i></a>
					     </span>
				     </h2>
					<div class="m-list">
						<ul>
							<li v-for="item in gylist" class="overflow-h  border-b padd">
								<a :href='"home/gongying/gongyingdetail.html?id="+item.id'>
									<div class="recruit-list fl ml-10 ">
										<div class="recruit-header overflow-h">
											<h3 class="fl w-55 ov-h">{{item.title}}</h3>
											<p class="fr">
												{{item.price}}/{{item.unit}}
											</p>
										</div>
										<div class="recruit-header overflow-h">
											<h4 class="fl">{{item.city}}<span>{{item.quantity}}{{item.unit}}</span></h4>
											<span class="fr time">{{item.updatedAt}}</span>
										</div>
										<p class="recruit-pos">
											{{item.orgName}}
										</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</body>
	<script>
		var vm = new Vue({
			el: '#app',
			data: {
				zxlist: [{
					'title': "我是一个资讯我是一个资讯"
				}],
				zplist: [{
					"education": "本科",
					"orgName": "测试企业",
					"city": "上海市",
					"id": 28,
					"experience": "5-8年",
					"salary": "30000-50000元",
					"title": "足疗新产品经理",
					"updatedAt": "2017-11-16"
				}, {
					"education": "高中",
					"orgName": "LaLa",
					"city": "石家庄市",
					"id": 33,
					"experience": "3-5年",
					"salary": "3000-5000元",
					"title": "测试是否零年至两个",
					"updatedAt": "2017-11-16"
				}],
				qzlist: [{
					"education": "博士生",
					"orgName": "呼伦贝尔",
					"gender": "男",
					"city": "沧州市",
					"showfullname": "0",
					"id": 86,
					"experience": "10年以上",
					"salary": "8000-10000元",
					"title": "生产管理",
					"userId": "868",
					"age": 23,
					"updatedAt": "2017-11-28"
				}, {
					"education": "博士生",
					"orgName": "闵哲",
					"gender": "男",
					"city": "哈尔滨市",
					"showfullname": "1",
					"id": 79,
					"experience": "8-10年",
					"salary": "50000元以上",
					"title": "综合/人事/行政",
					"userId": "835",
					"age": 0,
					"updatedAt": "2017-11-24"
				}],
				zblist: [{
					"unit": "台",
					"orgName": "大王",
					"quantity": "10000",
					"city": "呼伦贝尔市",
					"price": "50",
					"id": 84,
					"title": "计算机",
					"updatedAt": "2017-11-23"
				}, {
					"unit": "公斤",
					"orgName": "测试企业",
					"quantity": "1000",
					"city": "北京市",
					"price": "560000",
					"id": 40,
					"title": "优质金丝楠木",
					"updatedAt": "2017-11-16"
				}],
				gylist: [{
					"unit": "在",
					"orgName": "闵哲",
					"quantity": "30000",
					"city": "北京市",
					"price": "2",
					"id": 90,
					"title": "西北大学校长",
					"updatedAt": "2017-11-24"
				}, {
					"unit": "西北",
					"orgName": "闵哲",
					"quantity": "10000",
					"city": "北京市",
					"price": "2",
					"id": 89,
					"title": "西北师范大学",
					"updatedAt": "2017-11-24"
				}],
				xiaoxi: '',
				imglist: [{
					"url": "http://i1.piimg.com/588926/d1cb3dda0bdf8cd1.png"
				}, {
					"url": "http://i2.muimg.com/588926/2933de930921749c.png"
				}]
			},
			methods: {},
			mounted: function() {}
		});
	</script>

</html>