<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>首页</title>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<link rel="stylesheet" href="static/css/style.css" />
		<link rel="stylesheet" href="static/css/ydui.rem.css">
		<link rel="stylesheet" href="static/css/common.css">
		<link rel="stylesheet" href="static/css/index.css">
		<link rel="stylesheet" href="static/css/mkui.css">
		<link rel="stylesheet" href="static/css/home.css" />
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script src="js/ydui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				var _this1 = null;
				$('.nav>li').hover(function() {
					_this1 = $(this);
					_this1.find('.second-nav').show();
					var _this2 = null;
					_this1.find('.second-nav').find('li').hover(function() {
						_this2 = $(this);
						_this2.find('.third-nav').show();
						_this2.find('.third-nav').hover(function() {
							$(this).show();
						}, function() {
							$(this).hide();
						});
					}, function() {
						_this2.find('.third-nav').hide();
					});
				}, function() {
					_this1.find('.second-nav').hide();
				});
			});
		</script>

	</head>

	<body>
		<div class="header">
			<ul class="nav">
				<li>
					<a href="">首页</a>
				</li>
				<li>
					<a href="#">发布</a>
					<ul class="second-nav">
						<li>
							<a href="#">招聘发布</a>
						</li>
						<li>
							<a href="#">招标发布</a>
						</li>
						<li>
							<a href="#">供应发布</a>
						</li>
						<li>
							<a href="#">求职发布</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">找信息</a>
					<ul class="second-nav">
						<li>
							<a target="_blank" href="zhaopin/zhaopinlist.html">招聘信息</a>
						</li>
						<li>
							<a target="_blank" href="zhaobiao/zhaobiaolist.html">招标信息</a>
						</li>
						<li>
							<a target="_blank" href="gongying/gongyinglist.html">供应信息</a>
						</li>
						<li>
							<a target="_blank" href="qiuzhi/qiuzhilist.html">求职信息</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">我的</a>
					<ul class="second-nav">
						<li>
							<a href="#">收藏</a>
							<ul class="third-nav">
								<li id="sc_qiuzhi" hidden>
									<a target="_blank" href="qiuzhi/qiuzhicollection.html">求职</a>
								</li>
								<li id="sc_zhaopin" hidden>
									<a target="_blank" href="zhaopin/zhaopincollection.html">招聘</a>
								</li>
								<li>
									<a target="_blank" href="zhaobiao/zhaobiaocollection.html">招标</a>
								</li>
								<li>
									<a target="_blank" href="gongying/gongyingcollection.html">供应</a>
								</li>
								<li>
									<a target="_blank" href="zixun/zixuncollection.html">资讯</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">我的订阅</a>
						</li>
						<li>
							<a href="#">我的发布</a>
							<ul class="third-nav">
								<li id="wdfb_zhaopin" hidden>
									<a target="_blank" href="mypublish/zhaopinmypublish.html">招聘</a>
								</li>
								<li>
									<a target="_blank" href="mypublish/zhaobiaomypublish.html">招标</a>
								</li>
								<li>
									<a target="_blank" href="mypublish/gongyingmypublish.html">供应</a>
								</li>
							</ul>
						</li>
						<li>
							<a target="_blank" href="mytoubiao/mytoubiao.html">我的投标</a>
						</li>
						<li id="jlgl" hidden>
							<a id="jlgl" href="#">简历管理</a>
							<ul class="third-nav">
								<li>
									<a target="_blank" href="jianliguanli/Intervieweedelivery.html">应聘者投递</a>
								</li>
								<li>
									<a target="_blank" href="jianliguanli/myinvitation.html">我邀请过的</a>
								</li>
							</ul>
						</li>
						<li id="wdyxgs" hidden>
							<a target="_blank" href="jianliguanli/myintentioncompany.html">我的意向公司</a>
						</li>
						<li>
							<a href="#">意见反馈</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div id="app" class="content">
			<yd-slider id="yd_slider" v-if="imglist.length>0" autoplay="5000">
				<yd-slider-item v-for="item in imglist">
					<a target="_blank" :href="item.url">
						<img :src="ip+item.imgUrl" />
					</a>
				</yd-slider-item>
			</yd-slider>
			<div class="listarea_zixun">
				<div class="tongzhi overflow-h" v-if='zxlist.length>0'>
					<div class="tongzhi_wenzi clearfix pos">
						<ul class="tongzhi_lunbo">
							<li v-for="item in zxlist" class="clearfix overflow-h">
								<a target="_blank" :href="'zixun/zixundetail.html?id='+item.id" class="huojiang overflow-h">
									<i class="ico ico-tongzhi fl"></i>
									<p class="fl">
										<nobr>{{item.title}}</nobr>
									</p>
								</a>
								<span class="fr more">
                        		<a target="_blank" href="zixun/zixunlist.html">更多<i class="ico-right"></i></a>
                    		</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="listarea">
				<div class="listitem_left">
					<h2 class="module-title pd-10 overflow-h border-b">
						<i class="ico-zhaopin fl"></i>
						<span class="fl more-main">最新招聘</span>
                         <span class="fr more">
						      <a target="_blank" href="zhaopin/zhaopinlist.html">更多<i class="ico-right"></i></a>
					    </span>
        		         </h2>
					<div class="m-list">
						<ul>
							<li v-for="item in zplist" class="overflow-h  border-b padd">
								<a target="_blank" :href='"zhaopin/zhaopindetail.html?id="+item.id'>
									<div class="recruit-list fl ml-10 ">
										<div class="recruit-header overflow-h">
											<h3 class="fl w-55 ov-h">{{item.title}}</h3>
											<p class="fr">
												{{item.salary}}
											</p>
										</div>
										<div class="recruit-header overflow-h">
											<h4 class="fl">{{item.orgName}}</h4>
											<span class="fr time">{{item.updatedAt}}</span>
										</div>
										<p class="recruit-pos mr-10"><span>{{item.city}}</span> <span class="mr-10">{{item.experience}}</span> <span class="">{{item.education}}</span></p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="listitem_right">
					<h2 class="module-title  overflow-h border-b">
					    <i class="ico-qiuzhi fl"></i>
					    <span class="fl more-main">最新求职</span>
            		        <span class="fr more">
            			         <a target="_blank" href="qiuzhi/qiuzhilist.html">更多<i class="ico-right"></i></a>
            		        </span>
				     </h2>
					<div class="m-list">
						<ul>
							<li v-for="item in qzlist" class="overflow-h  border-b padd">
								<a target="_blank" :href="'qiuzhi/qiuzhidetail.html?id='+item.id">
									<div class="recruit-list fl ml-10 ">
										<div class="recruit-header overflow-h">
											<h3 class="fl w-55 ov-h">{{item.title}}</h3>
											<p class="fr">
												{{item.salary}}
											</p>
										</div>
										<div class="recruit-header overflow-h">
											<ul class="name-list overflow-h fl">
												<li>
													{{item.showfullname==1?item.orgName:hideStr(item.orgName)}}
												</li>
												<li>
													{{item.gender}}性
												</li>
												<li>
													{{item.age}}
												</li>
											</ul>
											<span class="fr time">{{item.updatedAt}}</span>
										</div>
										<p class="recruit-pos mr-10"><span>{{item.city}}</span> <span class="mr-10">{{item.experience}}</span> <span class="">{{item.education}}</span></p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="listarea">
				<div class="listitem_left">
					<h2 class="module-title  overflow-h border-b">
					     <i class="ico-zhaobiao fl"></i> 
					     <span class="fl more-main">最新招标</span> 
					     <span class="fr more">
						     <a target="_blank" href="zhaobiao/zhaobiaolist.html">更多<i class="ico-right"></i></a>
					     </span>
				     </h2>
					<div class="m-list">
						<ul>
							<li v-for="item in zblist" class="overflow-h  border-b padd">
								<a target="_blank" :href='"zhaobiao/zhaobiaodetail.html?id="+item.id'>
									<div class="recruit-list fl ml-10 ">
										<div class="recruit-header overflow-h">
											<h3 class="fl w-55 ov-h">{{item.title}}</h3>
											<p class="fr">
												{{item.price==''?'面议':item.price}}/{{item.unit}}
											</p>
										</div>
										<div class="recruit-header overflow-h">
											<h4 class="fl">{{item.city}}<span>{{item.quantity==-1||item.quantity==''?'已招标文件为主   单位:':item.quantity}}{{item.unit}}</span></h4>
											<span class="fr time">{{item.updatedAt}}</span>
										</div>
										<p class="recruit-pos">
											{{item.orgName}}
										</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="listitem_right">
					<h2 class="module-title pd-10 overflow-h border-b">
					     <i class="ico-gongying fl"></i> 
					     <span class="fl more-main">最新供应</span> 
					     <span class="fr more">
						     <a target="_blank" href="gongying/gongyinglist.html">更多<i class="ico-right"></i></a>
					     </span>
				     </h2>
					<div class="m-list">
						<ul>
							<li v-for="item in gylist" class="overflow-h  border-b padd">
								<a target="_blank" :href='"gongying/gongyingdetail.html?id="+item.id'>
									<div class="recruit-list fl ml-10 ">
										<div class="recruit-header overflow-h">
											<h3 class="fl w-55 ov-h">{{item.title}}</h3>
											<p class="fr">
												{{item.price}}/{{item.unit}}
											</p>
										</div>
										<div class="recruit-header overflow-h">
											<h4 class="fl">{{item.city}}<span>{{item.quantity}}{{item.unit}}</span></h4>
											<span class="fr time">{{item.updatedAt}}</span>
										</div>
										<p class="recruit-pos">
											{{item.orgName}}
										</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script type="text/javascript" src="js/config.js"></script>
	<script>
		var vm = new Vue({
			el: '#app',
			data: {
				zxlist: [],
				zplist: [],
				qzlist: [],
				zblist: [],
				gylist: [],
				imglist: [],
				xiaoxi: '',
			},
			methods: {},
			mounted: function() {}
		});

		var userInfo = '';
		getUserInfo(localStorage.userId, function(data) {
			userInfo = data.result;
			$('#app').show();
			if(userInfo.type == 1) {
				$('#sc_zhaopin').show();
				$('#wdyxgs').show();
			} else {
				$('#sc_qiuzhi').show();
				$('#wdfb_zhaopin').show();
				$('#jlgl').show();
			}
		})
		post('/webLb/Carousel', {}, function(data) {
			vm.imglist = data.result;
		})
		post('/webZx/Base', {
			pageNo: 1,
			pageSize: 1,
			categoryId: ''
		}, function(data) {
			vm.zxlist = data.result;
		})
		post('/webZp/Zhaopin', {
			pageNo: 1,
			pageSize: 2
		}, function(data) {
			vm.zplist = data.result;
		})
		post('/webQz/Qiuzhi', {
			pageNo: 1,
			pageSize: 2
		}, function(data) {
			vm.qzlist = data.result;
		})
		post('/webZb/Zhaobiao', {
			pageNo: 1,
			pageSize: 2
		}, function(data) {
			vm.zblist = data.result;
		})
		post('/webGy/Gongying', {
			pageNo: 1,
			pageSize: 2
		}, function(data) {
			vm.gylist = data.result;
		})
		post('/webUser/allNotReadMessage', {
			userId: localStorage.userId
		}, function(data) {
			vm.xiaoxi = data.result;
		})
	</script>

</html>