<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>仝仝资讯</title>

		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../js/vue.min.js"></script>
		<script type="text/javascript" src="../js/ydui.js"></script>
		<link rel="stylesheet" href="../css/loading.css" />
		<link rel="stylesheet" href="../static/css/mkui.css" />
		<link rel="stylesheet" href="../static/css/ydui.rem.css" />
		<link rel="stylesheet" href="../static/css/common.css" />
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../css/loading.css">
		<script type="text/javascript" src="../js/exif.js" ></script>
		<script type="text/javascript" src="../js/config.js"></script>

		<style>
			.selected {
				background-color: #9a9da2!important;
				color: white;
				font-weight: bold;
			}
			
			.hover:hover {
				background-color: #b3b6bb;
				color: white;
			}
			
			.title {
				position: relative;
				max-height: 50px;
				font-size: 20px;
				font-weight: bold;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
			/*.title::after {
				content: "...";
				font-weight: bold;
				position: absolute;
				bottom: 0;
				right: 0;
				padding: 0 20px 1px 45px;
				background: url(http://newimg88.b0.upaiyun.com/newimg88/2014/09/ellipsis_bg.png) repeat-y;
			}*/
		</style>

	</head>

	<body>
		<div class="header">
			<ul class="nav">
				<li>
					<a href="../index.html">首页</a>
				</li>
				<li>
					<a href="#">发布</a>
					<ul class="second-nav">
						<li>
							<a target="_blank" href="../publish/zhaopinfabu.html">招聘发布</a>
						</li>
						<li>
							<a target="_blank" href="../publish/zhaobiaofabu.html">招标发布</a>
						</li>
						<li>
							<a target="_blank" href="../publish/gongyingfabu.html">供应发布</a>
						</li>
						<li>
							<a target="_blank" href="../publish/jianlifabu.html">求职发布</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">找信息</a>
					<ul class="second-nav">
						<li>
							<a target="_blank" href="../zhaopin/zhaopinlist.html">招聘信息</a>
						</li>
						<li>
							<a target="_blank" href="../zhaobiao/zhaobiaolist.html">招标信息</a>
						</li>
						<li>
							<a target="_blank" href="../gongying/gongyinglist.html">供应信息</a>
						</li>
						<li>
							<a target="_blank" href="../qiuzhi/qiuzhilist.html">求职信息</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">我的</a>
					<ul class="second-nav">
						<li>
							<a href="#">收藏</a>
							<ul class="third-nav">
								<li id="sc_qiuzhi" hidden>
									<a target="_blank" href="../qiuzhi/qiuzhicollection.html">求职</a>
								</li>
								<li id="sc_zhaopin" hidden>
									<a target="_blank" href="../zhaopin/zhaopincollection.html">招聘</a>
								</li>
								<li>
									<a target="_blank" href="../zhaobiao/zhaobiaocollection.html">招标</a>
								</li>
								<li>
									<a target="_blank" href="../gongying/gongyingcollection.html">供应</a>
								</li>
								<li>
									<a target="_blank" href="../zixun/zixuncollection.html">资讯</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">我的订阅</a>
							<ul class="third-nav">
								<li id="wddy_zhaopin" hidden>
									<a target="_blank" href="../dingyue/dingyuezhaopin.html">招聘</a>
								</li>
								<li id="wddy_qiuzhi" hidden>
									<a target="_blank" href="../dingyue/dingyueqiuzhi.html">求职</a>
								</li>
								<li>
									<a target="_blank" href="../dingyue/dingyuezhaobiao.html">招标</a>
								</li>
								<li>
									<a target="_blank" href="../dingyue/dingyuegongying.html">供应</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">我的发布</a>
							<ul class="third-nav">
								<li id="wdfb_zhaopin" hidden>
									<a target="_blank" href="../mypublish/zhaopinmypublish.html">招聘</a>
								</li>
								<li>
									<a target="_blank" href="../mypublish/zhaobiaomypublish.html">招标</a>
								</li>
								<li>
									<a target="_blank" href="../mypublish/gongyingmypublish.html">供应</a>
								</li>
							</ul>
						</li>
						<li>
							<a target="_blank" href="../mytoubiao/mytoubiao.html">我的投标</a>
						</li>
						<li id="jlgl" hidden>
							<a id="jlgl" href="#">简历管理</a>
							<ul class="third-nav">
								<li>
									<a target="_blank" href="../jianliguanli/Intervieweedelivery.html">应聘者投递</a>
								</li>
								<li>
									<a target="_blank" href="../jianliguanli/myinvitation.html">我邀请过的</a>
								</li>
							</ul>
						</li>
						<li id="wdyxgs" hidden>
							<a target="_blank" href="../jianliguanli/myintentioncompany.html">我的意向公司</a>
						</li>
						<li>
							<a href="javascript:feedback()">意见反馈</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div id="app" class="bg">
			<div style="width: 1000px;margin: auto;display: flex;flex-direction: row; border: 1px solid lightgrey;">
				<div style="width: 30%;">
					<ul class="category">
						<li class="hover selected" id="" style="padding: 10px 10px 10px 20px;" onclick="selcategory(this)">
							推荐
						</li>
						<li class="hover" v-for="item in categories" :id="item.id" style="padding: 10px 10px 10px 20px;" onclick="selcategory(this)">
							{{item.title}}
						</li>
					</ul>
				</div>
				<div style="width: 1px; background-color: lightgray;"></div>
				<div style="width: 70%;">
					<ul>
						<li v-for="item in datalist">
							<a target="_blank" :href="'zixundetail.html?id='+item.id" style="width: 100%;display: flex;padding: 10px;">
								<img style="width: 180px;height: 120px;" :src="ip+item.imgUrl" />
								<div style="display: flex;flex-direction: row;width:490px;height: 120px;align-items: center;margin-left: 10px;">
									<div style="display: flex;flex-direction: column;">
										<p class="title" :title="item.title">{{item.title}}</p>
										<p class="mt-5" style="color: #1B6D85;">{{item.category}}</p>
										<span class="mt-5">{{item.updatedAt}}</span>
									</div>
								</div>
							</a>
						</li>
					</ul>
					<div style="width: 100%;height: 80px;line-height: 80px;">
						<div id="loading">
							<div class="k-line2 k-line12-1"></div>
							<div class="k-line2 k-line12-2"></div>
							<div class="k-line2 k-line12-3"></div>
							<div class="k-line2 k-line12-4"></div>
							<div class="k-line2 k-line12-5"></div>
							<div class="k-line2 k-line12-6"></div>
							<div class="k-line2 k-line12-7"></div>
							<div class="k-line2 k-line12-8"></div>
						</div>
						<div id="tip" hidden style="text-align: center;font-size: 18px;">
							已全部加载完成
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script type="text/javascript">
		var vm = new Vue({
			el: '#app',
			data: {
				pageNo: 2,
				pageSize: 10,
				categories: [],
				datalist: [],
				categoryid: ''
			},
			methods: {}
		})

		getUserInfo(localStorage.userId, function(data) {
			userInfo = data.result;
			if(userInfo.type == 1) {
				$('#sc_zhaopin').show();
				$('#wddy_zhaopin').show();
				$('#wdyxgs').show();
			} else {
				$('#sc_qiuzhi').show();
				$('#wddy_qiuzhi').show();
				$('#wdfb_zhaopin').show();
				$('#jlgl').show();
			}
		})

		getClassifyTable(true, 'base', function(data) {
			var list = data.result;
			vm.categories = list;
		})

		post('/webZx/Base', {
			pageNo: 1,
			pageSize: 10,
			categoryId: ''
		}, function(data) {
			vm.datalist = data.result;
			if(vm.datalist.length < vm.pageSize) {
				isLoadmore = false;
				$('#loading').hide();
				$('#tip').show();
				return;
			}
		}, false)

		function selcategory(obj) {
			isLoadmore = true;
			$('#loading').show();
			$('#tip').hide();
			$(obj).addClass('selected').siblings('.category li').removeClass('selected');
			vm.categoryid = $(obj)[0].id;
			vm.pageNo = 2;
			post('/webZx/Base', {
				pageNo: 1,
				pageSize: 10,
				categoryId: vm.categoryid
			}, function(data) {
				vm.datalist = data.result;
				if(vm.datalist.length < vm.pageSize) {
					isLoadmore = false;
					$('#loading').hide();
					$('#tip').show();
					return;
				}
			}, false)
		}

		// 自定义事件
		function ajax_function() {
			post('/webZx/Base', {
				pageNo: vm.pageNo,
				pageSize: vm.pageSize,
				categoryId: vm.categoryid
			}, function(data) {
				_list = data.result;
				vm.datalist = vm.datalist.concat(_list);
				if(vm.pageNo > 1 && _list.length < vm.pageSize) {
					isLoadmore = false;
					$('#loading').hide();
					$('#tip').show();
					return;
				}
				vm.pageNo++;
			}, false)
		}

		var isLoadmore = true; // 要保证最后要运行一次
		window.onscroll = function() {
			if(getScrollHeight() == getDocumentTop() + getWindowHeight() && isLoadmore) {
				//当滚动条到底时,这里是触发内容
				//异步请求数据,局部刷新dom
				ajax_function()
			}
		}

		//文档高度
		function getDocumentTop() {
			var scrollTop = 0,
				bodyScrollTop = 0,
				documentScrollTop = 0;
			if(document.body) {
				bodyScrollTop = document.body.scrollTop;
			}
			if(document.documentElement) {
				documentScrollTop = document.documentElement.scrollTop;
			}
			scrollTop = (bodyScrollTop - documentScrollTop > 0) ? bodyScrollTop : documentScrollTop;
			//			console.log("scrollTop:" + scrollTop);
			return scrollTop;
		}

		//可视窗口高度
		function getWindowHeight() {
			var windowHeight = 0;
			if(document.compatMode == "CSS1Compat") {
				windowHeight = document.documentElement.clientHeight;
			} else {
				windowHeight = document.body.clientHeight;
			}
			//			console.log("windowHeight:" + windowHeight);
			return windowHeight;
		}

		//滚动条滚动高度
		function getScrollHeight() {
			var scrollHeight = 0,
				bodyScrollHeight = 0,
				documentScrollHeight = 0;
			if(document.body) {
				bodyScrollHeight = document.body.scrollHeight;
			}
			if(document.documentElement) {
				documentScrollHeight = document.documentElement.scrollHeight;
			}
			scrollHeight = (bodyScrollHeight - documentScrollHeight > 0) ? bodyScrollHeight : documentScrollHeight;
			//			console.log("scrollHeight:" + scrollHeight);
			return scrollHeight;
		}

		$(function() {
			var _this1 = null;
			$('.nav>li').hover(function() {
				_this1 = $(this);
				_this1.find('.second-nav').show();
				var _this2 = null;
				_this1.find('.second-nav').find('li').hover(function() {
					_this2 = $(this);
					_this2.find('.third-nav').show();
					_this2.find('.third-nav').hover(function() {
						$(this).show();
					}, function() {
						$(this).hide();
					});
				}, function() {
					_this2.find('.third-nav').hide();
				});
			}, function() {
				_this1.find('.second-nav').hide();
			});
		});
	</script>

</html>