<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>订阅招标</title>
		<link rel="icon" href="../img/ic_logo.ico" type="img/x-ico" />
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<link rel="stylesheet" href="../css/loading.css" />
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/home.css" />
		<link rel="stylesheet" href="../static/css/jianli.css" />
		<link rel="stylesheet" href="../static/css/mkui.css">
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/vue.min.js"></script>
		<script type="text/javascript" src="../js/exif.js"></script>
		<script type="text/javascript" src="../js/config.js"></script>

		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/pagination.css" />
		<script type="text/javascript" src="../js/jquery.pagination.js"></script>

		<script type="text/javascript">
			$(function() {
				var _this1 = null;
				$('.nav>li').hover(function() {
					_this1 = $(this);
					_this1.find('.second-nav').show();
					var _this2 = null;
					_this1.find('.second-nav').find('li').hover(function() {
						_this2 = $(this);
						_this2.find('.third-nav').show();
						_this2.find('.third-nav').hover(function() {
							$(this).show();
						}, function() {
							$(this).hide();
						});
					}, function() {
						_this2.find('.third-nav').hide();
					});
				}, function() {
					_this1.find('.second-nav').hide();
				});
			});
		</script>
	</head>

	<body>
		<div class="header">
			<ul class="nav">
				<li>
					<a href="../index.html">首页</a>
				</li>
				<li>
					<a href="#">发布</a>
					<ul class="second-nav">
						<li id="zhaopin_fb" hidden>
							<a target="_blank" href="../publish/zhaopinfabu.html">招聘发布</a>
						</li>
						<li>
							<a target="_blank" href="../publish/zhaobiaofabu.html">招标发布</a>
						</li>
						<li>
							<a target="_blank" href="../publish/gongyingfabu.html">供应发布</a>
						</li>
						<li id="qiuzhi_fb" hidden>
							<a target="_blank" href="../publish/jianlifabu.html">求职发布</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">找信息</a>
					<ul class="second-nav">
						<li>
							<a target="_blank" href="../zhaopin/zhaopinlist.html">招聘信息</a>
						</li>
						<li>
							<a target="_blank" href="../zhaobiao/zhaobiaolist.html">招标信息</a>
						</li>
						<li>
							<a target="_blank" href="../gongying/gongyinglist.html">供应信息</a>
						</li>
						<li>
							<a target="_blank" href="../qiuzhi/qiuzhilist.html">求职信息</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">我的</a>
					<ul class="second-nav">
						<li>
							<a href="#">收藏</a>
							<ul class="third-nav">
								<li id="sc_qiuzhi" hidden>
									<a target="_blank" href="../qiuzhi/qiuzhicollection.html">求职</a>
								</li>
								<li id="sc_zhaopin" hidden>
									<a target="_blank" href="../zhaopin/zhaopincollection.html">招聘</a>
								</li>
								<li>
									<a target="_blank" href="../zhaobiao/zhaobiaocollection.html">招标</a>
								</li>
								<li>
									<a target="_blank" href="../gongying/gongyingcollection.html">供应</a>
								</li>
								<li>
									<a target="_blank" href="../zixun/zixuncollection.html">资讯</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">我的订阅</a>
							<ul class="third-nav">
								<li id="zhaopin_dy" hidden>
									<a target="_blank" href="dingyuezhaopin.html">招聘</a>
								</li>
								<li id="qiuzhi_dy" hidden>
									<a target="_blank" href="dingyueqiuzhi.html">求职</a>
								</li>
								<li>
									<a href="">招标</a>
								</li>
								<li>
									<a target="_blank" href="dingyuegongying.html">供应</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="#">我的发布</a>
							<ul class="third-nav">
								<li id="wdfb_zhaopin" hidden>
									<a target="_blank" href="../mypublish/zhaopinmypublish.html">招聘</a>
								</li>
								<li>
									<a target="_blank" href="../mypublish/zhaobiaomypublish.html">招标</a>
								</li>
								<li>
									<a target="_blank" href="../mypublish/gongyingmypublish.html">供应</a>
								</li>
							</ul>
						</li>
						<li>
							<a target="_blank" href="../mytoubiao/mytoubiao.html">我的投标</a>
						</li>
						<li id="jlgl" hidden>
							<a id="jlgl" href="#">简历管理</a>
							<ul class="third-nav">
								<li>
									<a target="_blank" href="../jianliguanli/Intervieweedelivery.html">应聘者投递</a>
								</li>
								<li>
									<a target="_blank" href="../jianliguanli/myinvitation.html">我邀请过的</a>
								</li>
							</ul>
						</li>
						<li id="wdyxgs" hidden>
							<a target="_blank" href="../jianliguanli/myintentioncompany.html">我的意向公司</a>
						</li>
						<li>
							<a href="javascript:feedback()">意见反馈</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="bgdiv" style="bottom: 0px;">
			<div id="app" class="content">
				<div class="dingyueheader">
					<div class="workareabg">
						<div class="worktitlearea f-l-f">
							<div class="worktitlediv">订阅招标</div>
							<div class="workadddiv" id="workaddbtnclick" onclick="workaddbtnclick()">＋新增订阅</div>
						</div>
						<div class="clear"></div>
						<div class="dingyueaddarea" id="dingyueaddarea" hidden>
							<div class="jianli_key_value">
								<div class="jianli_keytext">
									<p><span style="color:#FF0000;">*</span><span> 招标类别：</span></p>
								</div>
								<div class="jianli_valuetext">
									<select class="jianlijilianselect" id="selectjobvalueone" onchange="selectjob(this)">
										<option v-for="item in job" :value="item.id">{{item.title}}</option>
									</select>
									<select class="jianlijilianselect" id="selectjobvalue">
										<option value="">请选择</option>
										<option v-for="item in nowjoblist" :value="item.id">{{item.title}}</option>
									</select>
								</div>
							</div>

							<div class="jianli_key_value">
								<div class="jianli_keytext">
									<p><span style="color:#FF0000;">*</span><span> 招标城市：</span></p>
								</div>
								<div class="jianli_valuetext">
									<select class="jianlijilianselect" onchange="selectprovince(this)" id="selectprovince">
										<option v-for="item in province" :value="item.id">{{item.name}}</option>
									</select>
									<select class="jianlijilianselect" id="selectcity">
										<option value="">请选择</option>
										<option v-for="item in nowcity" :value="item.id">{{item.name}}</option>
									</select>
								</div>
							</div>
							<div class="clear"></div>

							<div class="btnarea">
								<div class="btndiv1" @click="save()"><span class="btnspan1">保存</span></div>
								<div style="width: 5%;"></div>
								<div class="btndiv2" onclick="workaddbtncancelclick()"><span class="btnspan2">取消</span></div>
							</div>
							<div class="clear"></div>
						</div>

						<div v-for="item in jobDic">
							<div class="dingyueaddarea" :id="'dingyueedititem'+item.id" hidden>
								<div class="jianli_key_value">
									<div class="jianli_keytext">
										<p><span style="color:#FF0000;">*</span><span> 招标类别：</span></p>
									</div>
									<div class="jianli_valuetext">
										<select v-model="editgangweioneid" class="jianlijilianselect" onchange="selectjob2(this)">
											<option v-for="item in job" :value="item.id">{{item.title}}</option>
										</select>
										<select v-model="editgangweiid" class="jianlijilianselect">
											<option value="">请选择</option>
											<option v-for="item in nowjoblist2" :value="item.id">{{item.title}}</option>
										</select>
									</div>
								</div>

								<div class="jianli_key_value">
									<div class="jianli_keytext">
										<p><span style="color:#FF0000;">*</span><span> 招标城市：</span></p>
									</div>
									<div class="jianli_valuetext">
										<select v-model="editprovinceid" class="jianlijilianselect" onchange="selectprovince2(this)">
											<option v-for="item in province" :value="item.id">{{item.name}}</option>
										</select>
										<select v-model="editcityid" class="jianlijilianselect">
											<option value="">请选择</option>
											<option v-for="item in nowcity2" :value="item.id">{{item.name}}</option>
										</select>
									</div>
								</div>
								<div class="clear"></div>

								<div class="btnarea">
									<div class="btndiv1" @click="save(item.id)"><span class="btnspan1">保存</span></div>
									<div style="width: 5%;"></div>
									<div class="btndiv2" @click="workcancelbtndclick(item.id)"><span class="btnspan2">取消</span></div>
								</div>
								<div class="clear"></div>
							</div>
							<div :id="'dingyueshowitem'+item.id" class="dingyuelistareaitem divcover" @mouseover="workmouseover(item.id)" @mouseout="workmouseout(item.id)">
								<div class="worktimeandbtndiv f-l-f">
									<div class="worktimediv" style="color: black;font-size: 18px;">{{item.categoryName}}</div>
									<div class="f-l-f" style="margin-top: 10px;">
										<div hidden :id="'workdelete'+item.id" @click="workdeletebtnclick(item.id)" class="workbtndiv"><img src="../static/img/detele2.png"></div>
										<div hidden :id="'workedit'+item.id" @click="workeditbtndclick(item.id)" class="workbtndiv"><img src="../static/img/edit2.png" /></div>
									</div>

								</div>
								<div class="clear"></div>
								<div class="dingyuedetailarea">
									<div class="clear"></div>
									<div class="dingyuelistareaitem3">{{item.display}}</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>

					</div>
				</div>
				<div class="dingyuebody" style="margin-top: 10px;">
					<div style="width: 940px; margin: auto;">
						<div class="list1">
							<div style="width: 210px;">招标名称</div>
							<div style="width: 140px;">招标地址</div>
							<div style="width: 137px;">联系人</div>
							<div style="width: 137px;">截止时间</div>
							<div style="width: 137px;">数量</div>
							<div style="width: 137px;">单价</div>
						</div>
						<a class="list2" v-for="item in datalist" target="_blank" :href='"../zhaobiao/zhaobiaodetail.html?id="+item.id'>
							<div style="width: 210px">{{item.title}}</div>
							<div style="width: 140px;">{{item.cityName}}</div>
							<div style="width: 137px;">{{item.contact}}</div>
							<div style="width: 137px;">{{datetransform(item.updatedAt)}}</div>
							<div style="width: 137px;">{{item.quantity==-1||item.quantity==''?'以招标文件为主 单位：':item.quantity}}{{item.unit}}</div>
							<div style="width: 137px;">{{!item.price?'以招标文件为主':item.price}}{{!item.price?'':'元/'+item.unit}}</div>
						</a>
					</div>
					<div class="pages">
						<div id="Pagination"></div>
						<div class="searchPage">
							<span class="page-sum">共<strong class="allPage">1</strong>页</span>
							<span class="page-go">跳转<input type="text">页</span>
							<a href="javascript:;" class="page-btn">GO</a>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</body>

	<script>
		var jobDic = [];
		var hasSelectItem = false;
		post1('/webUser/subscribePersonaListl', false, {
			"userId": localStorage.userId,
		}, function(data) {
			console.log(data);
			var theDic = data.result.tender;
			for(var i = 0; i < theDic.length; i++) {
				var theobj = theDic[i];
				theobj.id = i;
			}
			jobDic = theDic;
		})
		//类别
		var job;
		var jobList;
		var nowJobList;
		var nowJobList2;
		getClassifyTable(false, "zhaobiao", function(data) {
			var list = data.result;
			var job = [];
			var jobList = [];
			var jobM = {};
			for(var i = 0; i < list.length; i++) {
				var obj = list[i];
				if(obj.pid == 0) {
					job.push(obj);
				} else {
					jobList.push(obj);
				}
			}
			for(var i = 0; i < job.length; i++) {
				var array = [];
				for(var j = 0; j < jobList.length; j++) {
					if(job[i].id == jobList[j].pid) {
						array.push(jobList[j]);
						jobM['' + job[i].id] = array;
					}
				}
			}
			for(var i = 0; i < job.length - 1; i++) {
				for(var j = 0; j < job.length - 1 - i; j++) {
					if(job[j].id > job[j + 1].id) {
						var temp = job[j];
						job[j] = job[j + 1];
						job[j + 1] = temp;
					}
				}
			}
			this.job = job;
			this.jobList = jobM;
			for(var key in jobM) {
				this.nowJobList = jobM[key];
				this.nowJobList2 = jobM[key];
				break;
			}
		})
		var province;
		var city;
		var nowcity;
		var nowcity2;
		getCity(function(p, c) {
			province = p;
			city = c;
			nowcity = city['1'];
			nowcity2 = city['1'];
		});
		getUserInfo(localStorage.userId, function(data) {
			if(data.result.regStatus != 1) {
				window.location.href = "../register/register.html";
				return;
			} else {
				if(data.result.type == 2) {
					if(data.result.regist == 0) {
						window.location.href = "../register/companyregister.html";
						return;
					} else {
						if(data.result.expire == 0) {
							alert("您的注册申请正在审核中,审核通过后会有消息提醒");
							window.location.href = "../index.html";
							return;
						}
					}
				}
			}
			userInfo = data.result;
			$('#app').show();
			if(userInfo.type == 1) {
				$('#sc_zhaopin').show();
				$('#wddy_zhaopin').show();
				$('#wdyxgs').show();
				$('#qiuzhi_fb').show();
				$('#zhaopin_dy').show();
			} else {
				$('#sc_qiuzhi').show();
				$('#wddy_qiuzhi').show();
				$('#wdfb_zhaopin').show();
				$('#jlgl').show();
				$('#zhaopin_fb').show();
				$('#qiuzhi_dy').show();
			}
		})

		var vm = new Vue({
			el: '#app',
			data: {
				page: 1,
				pageSize: 10,
				datalist: [],
				province: province,
				city: city,
				nowcity: nowcity,
				nowcity2: nowcity2,
				job: this.job,
				joblist: this.jobList,
				nowjoblist: this.nowJobList,
				nowjoblist2: this.nowJobList2,
				editcityid: '',
				editprovinceid: 0,
				editgangweioneid: '',
				editgangweiid: '',
				jobDic: jobDic,
			},
			methods: {
				save: function(itemid) {
					var dataa;
					if(itemid >= 0) {
						if(vm.editgangweiid == '') {
							myAlert('请选择招标类别')
							return
						}
						if(vm.editcityid == '') {
							myAlert('请选择工作城市')
							return
						}
						dataa = {
							"userId": localStorage.userId,
							"province": vm.editprovinceid,
							"city": vm.editcityid,
							"category_id": vm.editgangweiid,
							"subscribeType": "2",
							"operationIndex": itemid,
							"operationType": 1
						}
					} else {
						if($("#selectjobvalue option:selected").text() == '请选择') {
							myAlert('请选择招标类别')
							return
						}
						if($("#selectcity option:selected").text() == '请选择') {
							myAlert('请选择工作城市')
							return
						}
						dataa = {
							"userId": localStorage.userId,
							"province": $("#selectprovince").val(),
							"city": $("#selectcity").val(),
							"category_id": $("#selectjobvalue").val(),
							"subscribeType": "2",
						}
					}
					post('/webUser/subscribePersonal', dataa,
						function(data) {
							console.log(data);
							if(data.result_code == '1') {
								myAlert("订阅成功!");
								window.location.reload();
							} else {
								myAlert("订阅失败，请重试！");
								window.location.reload();
							}
						})
				}
			}
		})

		post('/webUser/subScribeTenderInfo', {
			pageNo: vm.page,
			pageSize: vm.pageSize,
			userId: localStorage.userId
		}, function(data) {
			vm.datalist = data.result;
			$('.allPage').html(Math.ceil(data.reason / vm.pageSize));
			$("#Pagination").pagination(data.reason / vm.pageSize, {
				callback: function(page) { // 回调函数
					post('/webUser/subScribeTenderInfo', {
							pageNo: page + 1,
							pageSize: vm.pageSize
						},
						function(data) {
							vm.datalist = data.result;
						})
				}
			});
		})

		function workmouseover(id) {
			$('#workdelete' + id).show();
			$('#workedit' + id).show();
		}

		function workmouseout(id) {
			$('#workdelete' + id).hide();
			$('#workedit' + id).hide();
		}

		function selectprovince(obj) {
			vm.nowcity = vm.city[obj.value];
			$('#selectcity').val('');
		}

		function selectjob(obj) {
			vm.nowjoblist = vm.joblist[obj.value];
			$('#selectjobvalue').val('');
		}

		function selectprovince2(obj) {
			vm.nowcity2 = vm.city[obj.value];
			vm.editprovinceid = obj.value;
			vm.editcityid = "";
		}

		function selectjob2(obj) {
			vm.nowjoblist2 = vm.joblist[obj.value];
			vm.editgangweioneid = obj.value;
			vm.editgangweiid = "";
		}

		function selectProvinceAndCity(id) {
			var editobj = vm.jobDic[id];
			if(editobj.provinceId >= 0) {
				setTimeout(function() {
					vm.nowcity2 = city[editobj.provinceId];
					vm.editprovinceid = editobj.provinceId;
					setTimeout(function() {
						vm.editcityid = editobj.city;
					}, 50);
				}, 50);
			}
		}

		function selectGangweiA(id) {
			var editobj = vm.jobDic[id];
			if(editobj.category_id >= 0) {
				var firstid;
				for(var key in this.jobList) {
					var dataArr = this.jobList[key];
					for(var i = 0; i < dataArr.length; i++) {
						var midObj = dataArr[i];
						if(midObj.id == editobj.category_id) {
							firstid = midObj.pid;
						}
					}
				}
				setTimeout(function() {
					vm.nowjoblist2 = this.jobList[firstid];
					vm.editgangweioneid = firstid;
					setTimeout(function() {
						vm.editgangweiid = editobj.category_id;
					}, 50);
				}, 50);
			}
		}

		function workdeletebtnclick(id) {
			var mymessage = confirm("确认删除？");
			if(mymessage == false) {
				return;
			}
			post('/webUser/subscribePersonal', {
				"userId": localStorage.userId,
				"subscribeType": 2,
				"operationType": 0,
				"operationIndex": id
			}, function(data) {
				if(data.result_code == '1') {
					myAlert("删除成功!");
					document.location.reload();
				} else {
					myAlert("删除失败，请重试！");
					document.location.reload();
				}
			})
		}

		function workeditbtndclick(id) {
			if(hasSelectItem) {
				return;
			}
			selectProvinceAndCity(id);
			selectGangweiA(id);
			$('#dingyueedititem' + id).show();
			$('#dingyueshowitem' + id).hide();
			hasSelectItem = true;
		}

		function workcancelbtndclick(id) {
			vm.editcityid = '';
			vm.editprovinceid = 0;
			vm.editgangweioneid = '';
			vm.editgangweiid = '';
			selectProvinceAndCity(id);
			selectGangweiA(id);
			$('#dingyueedititem' + id).hide();
			$('#dingyueshowitem' + id).show();
			hasSelectItem = false;
		}

		function workaddbtncancelclick() {
			$('#dingyueaddarea').hide();
			vm.nowcity = city['1'];
			$("#selectprovince").val(1);
			$("#selectcity").val('');
			for(var key in this.jobList) {
				vm.nowJobList = this.jobList[key];
				$("#selectjobvalueone").val(key);
				break;
			}
			$("#selectjobvalue").val('');
			hasSelectItem = false;
		}

		function workaddbtnclick() {
			if(hasSelectItem) {
				return;
			}
			$('#dingyueaddarea').show();
			hasSelectItem = true;
		}

		function datetransform(e) {
			var pattern = "yyyy-MM-dd";
			var s = new Date(e);
			return s.format(pattern);
		}
		Date.prototype.format = function(format) {
			var o = {
				"M+": this.getMonth() + 1,
				"d+": this.getDate(),
				"h+": this.getHours(),
				"m+": this.getMinutes(),
				"s+": this.getSeconds(),
				"q+": Math.floor((this.getMonth() + 3) / 3),
				"S": this.getMilliseconds()
			}
			if(/(y+)/.test(format)) {
				format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
			}
			for(var k in o) {
				if(new RegExp("(" + k + ")").test(format)) {
					format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
				}
			}
			return format;
		}
	</script>

</html>