<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>招聘列表</title>

		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../js/vue.min.js"></script>
		<script type="text/javascript" src="../js/ydui.js"></script>

		<link rel="stylesheet" href="../css/loading.css" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/pagination.css" />
		<script type="text/javascript" src="../js/jquery.pagination.js"></script>

		<link rel="stylesheet" href="../static/css/ydui.rem.css" />
		<link rel="stylesheet" href="../static/css/common.css" />

		<link rel="stylesheet" href="../css/filter.css" />
		<link rel="stylesheet" href="../static/css/style.css" />

		<script type="text/javascript" src="../js/config.js"></script>

		<style>
			.input {
				width: 180px;
				height: 35px;
				background: #fff;
				color: #999;
				padding-left: 10px;
				padding-right: 10px;
				border: none;
				font-size: 14px;
				background: 150px center no-repeat #fff;
			}
			
			.none {
				display: none;
			}
			
			.filter {
				width: 1000px;
				margin: auto;
			}
			
			.filter-btn {
				background: dodgerblue;
				width: 120px;
				float: left;
				margin-top: -15px;
				margin-left: 30px;
				padding: 8px;
				position: relative;
				color: white;
				text-align: center;
				border-radius: 10px;
			}
			
			.list1 {
				width: 100%;
				padding: 10px;
				display: inline-flex;
				background-color: darkslategray;
			}
			
			.list1 div {
				font-weight: bold;
				font-size: 15px;
				color: white;
			}
			
			.list2 {
				width: 100%;
				padding: 10px;
				display: inline-flex;
				border-bottom: 1px solid lightgray;
			}
			
			.list2:hover {
				background: #eee;
			}
		</style>
	</head>

	<body>
		<div class="header">
			<ul class="nav">
				<li>
					<a href="../index.html">首页</a>
				</li>
				<li>
					<a href="#">发布</a>
					<ul class="second-nav">
						<li>
							<a target="_blank" href="../publish/zhaopinfabu.html">招聘发布</a>
						</li>
						<li>
							<a target="_blank" href="../publish/zhaobiaofabu.html">招标发布</a>
						</li>
						<li>
							<a target="_blank" href="../publish/gongyingfabu.html">供应发布</a>
						</li>
						<li>
							<a target="_blank" href="../publish/jianlifabu.html">求职发布</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">找信息</a>
					<ul class="second-nav">
						<li>
							<a target="" href="">招聘信息</a>
						</li>
						<li>
							<a target="_blank" href="../zhaobiao/zhaobiaolist.html">招标信息</a>
						</li>
						<li>
							<a target="_blank" href="../gongying/gongyinglist.html">供应信息</a>
						</li>
						<li>
							<a target="_blank" href="../qiuzhi/qiuzhilist.html">求职信息</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">我的</a>
					<ul class="second-nav">
						<li>
							<a href="#">收藏</a>
							<ul class="third-nav">
								<li id="sc_qiuzhi" hidden>
									<a target="_blank" href="../qiuzhi/qiuzhicollection.html">求职</a>
								</li>
								<li id="sc_zhaopin" hidden>
									<a target="_blank" href="../zhaopin/zhaopincollection.html">招聘</a>
								</li>
								<li>
									<a target="_blank" href="../zhaobiao/zhaobiaocollection.html">招标</a>
								</li>
								<li>
									<a target="_blank" href="../gongying/gongyingcollection.html">供应</a>
								</li>
								<li>
									<a target="_blank" href="../zixun/zixuncollection.html">资讯</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">我的订阅</a>
							<ul class="third-nav">
								<li id="wddy_zhaopin" hidden>
									<a target="_blank" href="../dingyue/dingyuezhaopin.html">招聘</a>
								</li>
								<li id="wddy_qiuzhi" hidden>
									<a target="_blank" href="../dingyue/dingyueqiuzhi.html">求职</a>
								</li>
								<li>
									<a target="_blank" href="../dingyue/dingyuezhaobiao.html">招标</a>
								</li>
								<li>
									<a target="_blank" href="../dingyue/dingyuegongying.html">供应</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">我的发布</a>
							<ul class="third-nav">
								<li id="wdfb_zhaopin" hidden>
									<a target="_blank" href="../mypublish/zhaopinmypublish.html">招聘</a>
								</li>
								<li>
									<a target="_blank" href="../mypublish/zhaobiaomypublish.html">招标</a>
								</li>
								<li>
									<a target="_blank" href="../mypublish/gongyingmypublish.html">供应</a>
								</li>
							</ul>
						</li>
						<li>
							<a target="_blank" href="../mytoubiao/mytoubiao.html">我的投标</a>
						</li>
						<li id="jlgl" hidden>
							<a id="jlgl" href="#">简历管理</a>
							<ul class="third-nav">
								<li>
									<a target="_blank" href="../jianliguanli/Intervieweedelivery.html">应聘者投递</a>
								</li>
								<li>
									<a target="_blank" href="../jianliguanli/myinvitation.html">我邀请过的</a>
								</li>
							</ul>
						</li>
						<li id="wdyxgs" hidden>
							<a target="_blank" href="../jianliguanli/myintentioncompany.html">我的意向公司</a>
						</li>
						<li>
							<a href="javascript:feedback()">意见反馈</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div id="app" class="bg">
			<div class="selectbox-p">
				<div class="selectbox">
					<div class="selemediv">
						<input class="input" v-model="title" placeholder="关键字" />
					</div>
					<div class="selemediv">
						<div class="selemenu">薪资</div>
						<DIV class="citylist">
							<span onclick="selxinzi(this)">不限</span>
							<span :id="item.itemCode" v-for="item in xinzis" onclick="selxinzi(this)">{{item.itemName}}</span>
						</div>
					</div>
					<div class="selemediv">
						<div class="selemenu">学历</div>
						<DIV class="citylist">
							<span onclick="selxueli(this)">不限</span>
							<span :id="item.itemCode" v-for="item in xuelis" onclick="selxueli(this)">{{item.itemName}}</span>
						</div>
					</div>
					<div class="selemediv">
						<div class="selemenu">年龄</div>
						<DIV class="citylist">
							<span onclick="selage(this)">不限</span>
							<span :id="item.itemCode" v-for="item in ages" onclick="selage(this)">{{item.itemName}}</span>
						</div>
					</div>
				</div>
				<div class="selectbox">
					<div id="1" class="selemediv">
						<div class="selemenu ">
							<div id="province" class="sqinput">城市</div>
							<!--<span id="city" class="csinput"></span>-->
						</div>
						<div class="citylist2">
							<div class="xzk">
								<div class="leibie">省</div>
								<ul class="shangquan">
									<li @click="selcity1('')">不限</li>
									<li v-for="item in province">{{item.name}}</li>
								</ul>
							</div>
							<div class="xzk">
								<div class="leibie">市</div>
								<ul class="chengshi none">
								</ul>
								<ul class="chengshi none" v-for="item in city">
									<li v-for="c in item" @click="selcity1(c.id)">{{c.name}}</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="2" class="selemediv">
						<div class="selemenu ">
							<div id="job1" class="sqinput">职位</div>
							<!--<span id="job2" class="csinput"></span>-->
						</div>
						<div class="citylist2">
							<div class="xzk">
								<div class="leibie">职称</div>
								<ul class="shangquan1">
									<li @click="seljob1('')">不限</li>
									<li v-for="item in job">{{item.itemName}}</li>
								</ul>
							</div>
							<div class="xzk">
								<div class="leibie">职位</div>
								<ul class="chengshi1 none">
								</ul>
								<ul class="chengshi1 none" v-for="item in joblist">
									<li v-for="c in item" @click="seljob1(c.itemCode)">{{c.itemName}}</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="selemediv">
						<div class="selemenu">性别</div>
						<DIV class="citylist">
							<span onclick="selgender(this)">不限</span>
							<span id="1" onclick="selgender(this)">男</span>
							<span id="2" onclick="selgender(this)">女</span>
						</div>
					</div>
					<div class="selemediv">
						<div class="selemenu">工作经验</div>
						<DIV class="citylist">
							<span onclick="seljingyan(this)">不限</span>
							<span :id="item.itemCode" v-for="item in jingyans" onclick="seljingyan(this)">{{item.itemName}}</span>
						</div>
					</div>
					<div class="filter-btn" onclick="filter()">筛选</div>
				</div>
			</div>
			<div style="width: 1000px; margin: auto;">
				<div class="list1">
					<div style="width: 20%;">职位名称</div>
					<div style="width: 100px;">工作地点</div>
					<div style="width: 20%;">公司名称</div>
					<div style="width: 90px;">学历要求</div>
					<div style="width: 100px;">经验要求</div>
					<div style="width: 90px;">年龄要求</div>
					<div style="width: 90px;">性别要求</div>
					<div style="width: 130px;">职位月薪</div>
				</div>
				<a class="list2" v-for="item in datalist" target="_blank" :href='"zhaopindetail.html?id="+item.id'>
					<div style="width: 20%;">{{item.title}}</div>
					<div style="width: 100px;">{{item.city}}</div>
					<div style="width: 20%;">{{item.orgName}}</div>
					<div style="width: 90px;">{{item.education}}</div>
					<div style="width: 100px;">{{item.experience}}</div>
					<div style="width: 90px;">{{item.age}}</div>
					<div style="width: 90px;">{{item.gender}}</div>
					<div style="width: 130px;">{{item.salary}}</div>
				</a>
			</div>

			<div class="pages">
				<div id="Pagination"></div>
				<div class="searchPage">
					<span class="page-sum">共<strong class="allPage">1</strong>页</span>
					<span class="page-go">跳转<input type="text">页</span>
					<a href="javascript:;" class="page-btn">GO</a>
				</div>
			</div>
		</div>
	</body>

	<script>
		var province, city;
		getCity(function(p, c) {
			this.province = p;
			this.city = c;
		})

		var job, joblist;
		getDicTable(false, "006", function(data) {
			var list = data.result;
			var job = [];
			var jobList = [];
			var jobM = {};
			for(var i = 0; i < list.length; i++) {
				var obj = list[i];
				if(!obj.pid) {
					job.push(obj);
				} else {
					jobList.push(obj);
				}
			}
			for(var i = 0; i < job.length; i++) {
				var array = [];
				for(var j = 0; j < jobList.length; j++) {
					if(job[i].id == jobList[j].pid) {
						array.push(jobList[j]);
						jobM['' + job[i].id] = array;
					}
				}
			}
			this.job = job;
			this.joblist = jobM;
		})

		var vm = new Vue({
			el: '#app',
			data: {
				page: 1,
				pagesize: 10,
				title: '',
				xinzi: '',
				xinzis: [],
				xueli: '',
				xuelis: [],
				age: '',
				ages: [],
				province: province,
				city: city,
				selcity: '',
				job: job,
				joblist: joblist,
				seljob: '',
				gender: '',
				jingyan: '',
				jingyans: [],
				datalist: []
			},
			methods: {
				selcity1: function(id) {
					vm.selcity = id;
				},
				seljob1: function(id) {
					vm.seljob = id;
				}
			}
		})

		getUserInfo(localStorage.userId, function(data) {
			userInfo = data.result;
			if(userInfo.type == 1) {
				$('#sc_zhaopin').show();
				$('#wddy_zhaopin').show();
				$('#wdyxgs').show();
			} else {
				$('#sc_qiuzhi').show();
				$('#wddy_qiuzhi').show();
				$('#wdfb_zhaopin').show();
				$('#jlgl').show();
			}
		})

		getDicTable(true, "001", function(data) {
			vm.xinzis = data.result;
		})

		getDicTable(true, "003", function(data) {
			vm.xuelis = data.result;
		})

		getDicTable(true, "012", function(data) {
			vm.ages = data.result;
		})

		getDicTable(true, "004", function(data) {
			vm.jingyans = data.result;
		})

		post('/webZp/Zhaopin', {
			pageNo: vm.page,
			pageSize: vm.pagesize
		}, function(data) {
			vm.datalist = data.result;
			$('.allPage').html(Math.ceil(data.reason / vm.pagesize));
			$("#Pagination").pagination(data.reason / vm.pagesize, {
				callback: function(page) { // 回调函数
					post('/webZp/Zhaopin', {
						pageNo: page + 1,
						pageSize: vm.pagesize
					}, function(data) {
						vm.datalist = data.result;
					})
				}
			});
		})

		function selxinzi(obj) {
			var text = $(obj).text();
			if(text == '不限') {
				$(obj).parent().prev().html('薪资');
			} else {
				$(obj).parent().prev().html(text);
			}
			$(obj).parent().prev().css("color", "#666")
			$(obj).parent().fadeOut();
			vm.xinzi = obj.id;
		}

		function selxueli(obj) {
			var text = $(obj).text();
			if(text == '不限') {
				$(obj).parent().prev().html('学历');
			} else {
				$(obj).parent().prev().html(text);
			}
			$(obj).parent().prev().css("color", "#666")
			$(obj).parent().fadeOut();
			vm.xueli = obj.id;
		}

		function selage(obj) {
			var text = $(obj).text();
			if(text == '不限') {
				$(obj).parent().prev().html('年龄');
			} else {
				$(obj).parent().prev().html(text);
			}
			$(obj).parent().prev().css("color", "#666")
			$(obj).parent().fadeOut();
			vm.age = obj.id;
		}

		function seljingyan(obj) {
			var text = $(obj).text();
			if(text == '不限') {
				$(obj).parent().prev().html('工作经验');
			} else {
				$(obj).parent().prev().html(text);
			}
			$(obj).parent().prev().css("color", "#666")
			$(obj).parent().fadeOut();
			vm.jingyan = obj.id;
		}

		function selgender(obj) {
			var text = $(obj).text();
			if(text == '不限') {
				$(obj).parent().prev().html('性别');
			} else {
				$(obj).parent().prev().html(text);
			}
			$(obj).parent().prev().css("color", "#666")
			$(obj).parent().fadeOut();
			vm.gender = obj.id;
		}

		function filter() {
			post('/webZp/Zhaopin', {
				pageNo: vm.page,
				pageSize: vm.pagesize,
				title: vm.title,
				city: vm.selcity,
				post: vm.seljob,
				salary: vm.xinzi,
				experience: vm.jingyan,
				education: vm.xueli,
				//				professionalRank: vm.zhicheng,
				age: vm.age,
				gender: vm.gender
			}, function(data) {
				vm.datalist = data.result;
				$('.allPage').html(Math.ceil(data.reason / vm.pagesize));
				$("#Pagination").pagination(data.reason / vm.pagesize, {
					callback: function(page) { // 回调函数
						post('/webZp/Zhaopin', {
							pageNo: page + 1,
							pageSize: vm.pagesize,
							title: vm.title,
							city: vm.selcity,
							post: vm.seljob,
							salary: vm.xinzi,
							experience: vm.jingyan,
							education: vm.xueli,
							//				professionalRank: vm.zhicheng,
							age: vm.age,
							gender: vm.gender
						}, function(data) {
							vm.datalist = data.result;
						})
					}
				});
			})
		}

		$(".selemenu").click(function() {
			$(this).next().slideToggle();
			$(this).parents().siblings().find(".citylist,.citylist2").slideUp();
		})
		//		$(".citylist span").click(function() {
		//			var text = $(this).text();
		//			$(this).parent().prev().html(text);
		//			$(this).parent().prev().css("color", "#666")
		//			$(this).parent().fadeOut();
		//		})
		$(".shangquan li").click(function() {
			$(".chengshi").eq($(this).index()).removeClass('none').siblings('.chengshi').addClass('none');
			$(".shangquan li").removeClass("active")
			$(this).addClass("active")
			var text1 = $(this).text();
			$("#province").html(text1);
			if(text1 == '不限') {
				$("#province").html('城市');
				$(".chengshi li").removeClass("active")
				$(".citylist2").slideUp();
			}
		})
		$(".chengshi li").click(function() {
			$(".chengshi li").removeClass("active")
			$(this).addClass("active")
			var text2 = $(this).text();
			var text1 = $("#province").text();
			$("#province").html(text1 + "-" + text2);
			$(".citylist2").slideUp();
		})
		$(".shangquan1 li").click(function() {
			$(".chengshi1").eq($(this).index()).removeClass('none').siblings('.chengshi1').addClass('none');
			$(".shangquan1 li").removeClass("active")
			$(this).addClass("active")
			var text1 = $(this).text();
			$("#job1").html(text1);
			if(text1 == '不限') {
				$("#job1").html('职位');
				$(".chengshi1 li").removeClass("active")
				$(".citylist2").slideUp();
			}
		})
		$(".chengshi1 li").click(function() {
			$(".chengshi1 li").removeClass("active")
			$(this).addClass("active")
			var text2 = $(this).text();
			var text1 = $("#job1").text();
			$("#job1").html(text1 + "-" + text2);
			$(".citylist2").slideUp();
		})
		$(function() {
			var _this1 = null;
			$('.nav>li').hover(function() {
				_this1 = $(this);
				_this1.find('.second-nav').show();
				var _this2 = null;
				_this1.find('.second-nav').find('li').hover(function() {
					_this2 = $(this);
					_this2.find('.third-nav').show();
					_this2.find('.third-nav').hover(function() {
						$(this).show();
					}, function() {
						$(this).hide();
					});
				}, function() {
					_this2.find('.third-nav').hide();
				});
			}, function() {
				if(_this1) {
					_this1.find('.second-nav').hide();
				}
			});

			$(document).not($(".selectbox")).click(function() {
				$(".citylist,.citylist2").slideUp();
			})
			$(".selectbox").click(function(event) {
				event.stopPropagation();
			})

		})
	</script>

</html>