<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>发布供应</title>
		<link rel="icon" href="../img/ic_logo.ico" type="img/x-ico" />
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<link rel="stylesheet" href="../css/loading.css" />
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/home.css" />
		<link rel="stylesheet" href="../static/css/mkui.css">
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/vue.min.js"></script>
		<script type="text/javascript" src="../js/exif.js"></script>
		<script type="text/javascript" src="../js/config.js"></script>
		<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
		<script type="text/javascript">
			$(function() {
				var _this1 = null;
				$('.nav>li').hover(function() {
					_this1 = $(this);
					_this1.find('.second-nav').show();
					var _this2 = null;
					_this1.find('.second-nav').find('li').hover(function() {
						_this2 = $(this);
						_this2.find('.third-nav').show();
						_this2.find('.third-nav').hover(function() {
							$(this).show();
						}, function() {
							$(this).hide();
						});
					}, function() {
						_this2.find('.third-nav').hide();
					});
				}, function() {
					_this1.find('.second-nav').hide();
				});
			});
		</script>

		<style>
			.i {
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.8);
				position: fixed;
				top: 0;
				z-index: 1000;
				display: flex;
			}
			.i .i1 {
				position: absolute;
				width: 40px;
				height: 40px;
				top: 80px;
				right: 30px;
			}
			.i .i2 {
				margin: auto;
				max-width: 80%;
				max-height: 80%;
			}
			.i .i3 {
				width: 40px;
				height: 50px;
				position: absolute;
				top: 45%;
				left: 20px;
			}
			.i .i4 {
				width: 40px;
				height: 50px;
				position: absolute;
				top: 45%;
				right: 20px;
			}
			.sel:hover {
				border: 3px solid transparent;
			}
			.none {
				display: none;
			}
		</style>
	</head>

	<body>
		<div class="header">
			<ul class="nav">
				<li>
					<a href="../index.html">首页</a>
				</li>
				<li>
					<a href="#">发布</a>
					<ul class="second-nav">
						<li id="zhaopin_fb" hidden>
							<a target="_blank" href="zhaopinfabu.html">招聘发布</a>
						</li>
						<li>
							<a target="_blank" href="zhaobiaofabu.html">招标发布</a>
						</li>
						<li>
							<a href="">供应发布</a>
						</li>
						<li id="qiuzhi_fb" hidden>
							<a target="_blank" href="jianlifabu.html">求职发布</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">找信息</a>
					<ul class="second-nav">
						<li>
							<a target="_blank" href="../zhaopin/zhaopinlist.html">招聘信息</a>
						</li>
						<li>
							<a target="_blank" href="../zhaobiao/zhaobiaolist.html">招标信息</a>
						</li>
						<li>
							<a target="_blank" href="../gongying/gongyinglist.html">供应信息</a>
						</li>
						<li>
							<a target="_blank" href="../qiuzhi/qiuzhilist.html">求职信息</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">我的</a>
					<ul class="second-nav">
						<li>
							<a href="#">收藏</a>
							<ul class="third-nav">
								<li id="sc_qiuzhi" hidden>
									<a target="_blank" href="../qiuzhi/qiuzhicollection.html">求职</a>
								</li>
								<li id="sc_zhaopin" hidden>
									<a target="_blank" href="../zhaopin/zhaopincollection.html">招聘</a>
								</li>
								<li>
									<a target="_blank" href="../zhaobiao/zhaobiaocollection.html">招标</a>
								</li>
								<li>
									<a target="_blank" href="../gongying/gongyingcollection.html">供应</a>
								</li>
								<li>
									<a target="_blank" href="../zixun/zixuncollection.html">资讯</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">我的订阅</a>
							<ul class="third-nav">
								<li id="zhaopin_dy" hidden>
									<a target="_blank" href="../dingyue/dingyuezhaopin.html">招聘</a>
								</li>
								<li id="qiuzhi_dy" hidden>
									<a target="_blank" href="../dingyue/dingyueqiuzhi.html">求职</a>
								</li>
								<li>
									<a target="_blank" href="../dingyue/dingyuezhaobiao.html">招标</a>
								</li>
								<li>
									<a target="_blank" href="../dingyue/dingyuegongying.html">供应</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="#">我的发布</a>
							<ul class="third-nav">
								<li id="wdfb_zhaopin" hidden>
									<a target="_blank" href="../mypublish/zhaopinmypublish.html">招聘</a>
								</li>
								<li>
									<a target="_blank" href="../mypublish/zhaobiaomypublish.html">招标</a>
								</li>
								<li>
									<a target="_blank" href="../mypublish/gongyingmypublish.html">供应</a>
								</li>
							</ul>
						</li>
						<li>
							<a target="_blank" href="../mytoubiao/mytoubiao.html">我的投标</a>
						</li>
						<li id="jlgl" hidden>
							<a id="jlgl" href="#">简历管理</a>
							<ul class="third-nav">
								<li>
									<a target="_blank" href="../jianliguanli/Intervieweedelivery.html">应聘者投递</a>
								</li>
								<li>
									<a target="_blank" href="../jianliguanli/myinvitation.html">我邀请过的</a>
								</li>
							</ul>
						</li>
						<li id="wdyxgs" hidden>
							<a target="_blank" href="../jianliguanli/myintentioncompany.html">我的意向公司</a>
						</li>
						<li>
							<a href="javascript:feedback()">意见反馈</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="bgdiv">
			<div id="app" class="content" hidden>
				<div class="fabutitle">供应详细信息</div>
				<hr/>
				<div class="fabucontent">
					<div class="key_value" style="width: 100%;">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 供应标题：</span></p>
						</div>
						<div class="valuetext" style="width: 770px;">
							<input type="text" placeholder="请填写供应标题" value="" v-model="title" />
						</div>
					</div>
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 供应数量：</span></p>
						</div>
						<div class="valuetext">
							<input type="number" placeholder="请填写供应数量" value="" v-model="quantity" />
						</div>
					</div>
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 联系人：</span></p>
						</div>
						<div class="valuetext">
							<input type="text" placeholder="请填写联系人" value="" v-model="contact" />
						</div>
					</div>
					
					<div class="key_value" style="width: 25%;">
						<div class="keytext" style="width: 50%;">
							<p><span style="color:#FF0000;">*</span><span> 单价：</span></p>
						</div>
						<div class="valuetext" style="width: 50%;">
							<input type="number" placeholder="请填写单价" value="" v-model="price" />
						</div>
					</div>
					<div class="key_value" style="width: 25%;">
						<div class="keytext"  style="width: 50%;padding: 0px;width: 60px;line-height: 50px;">
							<p><span style="color:#FF0000;">*</span><span> 单位：</span></p>
						</div>
						<div class="valuetext"  style="width: 50%;">
							<input type="text" placeholder="请填写单位" value="" v-model="unit" />
						</div>
					</div>
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 电话：</span></p>
						</div>
						<div class="valuetext">
							<input type="tel" placeholder="请填写联系电话" value="" v-model="phone" />
						</div>
					</div>
					<div class="clear"></div>
					<br>
					<br>
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 供应类别：</span></p>
						</div>
						<div class="valuetext">
							<select class="jilianselect" id="selectjobvalueone" onchange="selectjob(this)">
								<option v-for="item in job" :value="item.id">{{item.title}}</option>
							</select>
							<select class="jilianselect" id="selectjobvalue" onchange="selectjobitem(this)">
								<option value="">请选择</option>
								<option v-for="item in nowjoblist" :value="item.id">{{item.title}}</option>
							</select>
						</div>
					</div>

					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 有效期至：</span></p>
						</div>
						<div class="valuetext">
							<input type="date" value="" v-model="end_at" onblur="checkEndAt()" />
						</div>
					</div>
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 供应地址：</span></p>
						</div>
						<div class="valuetext" id="pid">
							<select class="jilianselect" onchange="selectprovince(this)" id="selectprovince">
								<!--<option value="">请选择</option>-->
								<option v-for="item in province" :value="item.id">{{item.name}}</option>
							</select>
							<select class="jilianselect" id="selectcity">
								<option value="">请选择</option>
								<option v-for="item in nowcity" :value="item.id">{{item.name}}</option>
							</select>
						</div>
					</div>
					<div class="addressdetail">
						<input type="text" value="" placeholder="请填写详细地址" v-model="address" />
					</div>
					<br>
					<br>
					<br>
					<br>
					<div class="clear"></div>
					<br>
					<div class="guigecanshu_class" id="guigecanshu">
					</div>
					<div class="clear"></div>
					<div class="photoarea">
						<div>
							产品图片
						</div>
						<div class="show-pic fl" style="width: 100%;">
							<ul class="" id="showul">
								<li id="xz" class='pos-r fl'>
									<div class='zhanshi2 pos-r'>
										<img src="../static/img/zhaoxiang.png" onclick="chooseImg(2)" />
										<input id="ip_shili" class="fr compile-pic" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple hidden="true" onchange="uploadShiLi(this)">
									</div>
								</li>
							</ul>
						</div>
					</div>

					<div class="clear" />
					<div class="textarea">
						<div>
							供应详情
						</div>
						<textarea name="" rows="" cols="" placeholder="请填写供应详细描述" v-model="content"></textarea>

					</div>

					<div class="h-20"></div>
					<div class="sure-btn" @click="fabu()">
						确认发布
					</div>
					<div class="h-20"></div>
					<br>
					<br>
					<br>

				</div>
			</div>
		</div>

		<div id="show_img" class="i none">
			<img class="i1 sel cursor-pointer" src="../img/ic_close.png" onclick="$('#show_img').addClass('none')" />
			<img class="i2" src="" />
			<img class="i3 sel cursor-pointer" src="../img/ic_left.png" onclick="switchImg(-1)" />
			<img class="i4 sel cursor-pointer" src="../img/ic_right.png" onclick="switchImg(1)" />
		</div>

	</body>

	<script>
		var Request = new QueryString();
		var itemid = Request["id"];
		var obj;
		var title, quantity, price, unit, end_at, address, contact, phone, content, imgUrl, picarray;
		if (itemid) {
			post1('/webGy/GongyingMessage', false, {
				id: itemid,
			}, function(data) {
				this.obj = data.result;
				console.log(this.obj);
				this.title = data.result.title;
				this.quantity = data.result.quantity;
				this.price = data.result.price;
				this.unit = data.result.unit;
				this.end_at = data.result.endAt;
				this.address = data.result.address;
				this.contact = data.result.contact;
				this.phone = data.result.phone;
				this.content = data.result.content;
				if (data.result.imgUrl.length > 0) {
					this.picarray = data.result.imgUrl;
					for (var i = 0; i < data.result.imgUrl.length; i++) {
						var str = data.result.imgUrl[i];
						$("#xz").before(
							"<li class='pos-r fl'>" +
							"<div class='zhanshi2 pos-r'>" +
							"<img onclick='showimg(this)' src='" + ip + str + "'/>" +
							"<input type='hidden' name='shilizhanshi' value=''/>" +
							"<div id='" + str + "' class='delet-pic' onclick='removeLi(this)'>" +
							"<img src='../static/img/9E9E7268-4F63-4B93-8850-DFF862172AEA@2x.png' />" +
							"</div>" +
							"</div>" +
							"</li>");
					}
				} else {
					this.picarray = [];
				}
			})
		} else {
			this.picarray = [];
			this.title = '';
			this.quantity = '';
			this.price = '';
			this.unit = '';
			this.end_at = '';
			this.address = '';
			this.contact = '';
			this.phone = '';
			this.content = '';
		}
		 //类别
		var job;
		var jobList;
		var nowJobList;
		getClassifyTable(false, "zhaobiao", function(data) {
			var list = data.result;
			var job = [];
			var jobList = [];
			var jobM = {};
			for (var i = 0; i < list.length; i++) {
				var obj = list[i];
				if (obj.pid == 0) {
					job.push(obj);
				} else {
					jobList.push(obj);
				}
			}
			for (var i = 0; i < job.length; i++) {
				var array = [];
				for (var j = 0; j < jobList.length; j++) {
					if (job[i].id == jobList[j].pid) {
						array.push(jobList[j]);
						jobM['' + job[i].id] = array;
					}
				}
			}
			for (var i = 0; i < job.length - 1; i++) {
				for (var j = 0; j < job.length - 1 - i; j++) {
					if (job[j].id > job[j + 1].id) {
						var temp = job[j];
						job[j] = job[j + 1];
						job[j + 1] = temp;
					}
				}
			}
			this.job = job;
			this.jobList = jobM;
			for (var key in jobM) {
				this.nowJobList = jobM[key];
				break;
			}
			if (this.obj) {
				selectGangweiA();
			}
		})
		var province;
		var city;
		var nowcity;
		getCity(function(p, c) {
			province = p;
			city = c;
			nowcity = city['1'];
			if (this.obj) {
				selectProvinceAndCity();
			}
		});
		getUserInfo(localStorage.userId, function(data) {
			if (data.result.regStatus != 1) {
				window.location.href = "../register/register.html";
				return;
			} else {
				if (data.result.type == 2) {
					if (data.result.regist == 0) {
						window.location.href = "../register/companyregister.html";
						return;
					} else {
						if (data.result.expire == 0) {
							alert("您的注册申请正在审核中,审核通过后会有消息提醒");
							window.location.href = "../index.html";
							return;
						}
					}
				}
			}
			userInfo = data.result;
			$('#app').show();
			if (userInfo.type == 1) {
				$('#sc_zhaopin').show();
				$('#wddy_zhaopin').show();
				$('#wdyxgs').show();
				$('#qiuzhi_fb').show();
				$('#zhaopin_dy').show();
			} else {
				$('#sc_qiuzhi').show();
				$('#wddy_qiuzhi').show();
				$('#wdfb_zhaopin').show();
				$('#jlgl').show();
				$('#zhaopin_fb').show();
				$('#qiuzhi_dy').show();
			}
		})
		var isrepetition = false;
		var vm = new Vue({
			el: '#app',
			data: {
				province: province,
				city: city,
				nowcity: nowcity,
				job: this.job,
				joblist: this.jobList,
				nowjoblist: this.nowJobList,
				title: this.title,
				quantity: this.quantity,
				price: this.price,
				unit: this.unit,
				end_at: this.end_at,
				address: this.address,
				contact: this.contact,
				phone: this.phone,
				content: this.content,
				productpic: this.picarray,
			},
			methods: {
				fabu: function() {
					var guigecanshu = new Array();
					$("input[name='specification']").each(function(index) {
						guigecanshu.push(this.value);
					});
					if (!checkEndAt() || !checkTel() || !checkint || !checkfushu()) {
						return false;
					}
					if ($("#selectjobvalue option:selected").text() == '请选择') {
						myAlert('请选择供应类别')
						return
					}
					if (vm.title == "") {
						myAlert('请填写供应标题')
						return
					}
					if (vm.quantity == "") {
						myAlert('请填写供应数量')
						return
					}
					if (vm.quantity.length > 10) {
						myAlert('输入的供应数量不合法')
						return
					}
					if (vm.price.length > 10) {
						myAlert('输入的单价不合法')
						return
					}
					if (vm.unit == "") {
						myAlert('请填写单位')
						return
					}
					if (vm.end_at == '') {
						myAlert('请选择有效日期')
						return
					}
					if ($("#selectcity option:selected").text() == '请选择') {
						myAlert('请选择城市')
						return
					}
					if (vm.address == "") {
						myAlert('请填写详细地址')
						return
					}
					if (vm.contact == "") {
						myAlert('请填写联系人姓名')
						return
					}
					if (vm.content == "") {
						myAlert('请填写供应详细描述')
						return
					}
					var yes = 1;
					$(".inp").each(function() {
						if ($(this).val() == '') {
							yes = 0;
							return;
						}
					})
					if (yes == 0) {
						myAlert('参数规格填写不完整!');
						return;
					}
					if (isrepetition) {
						return;
					}
					isrepetition = true;
					addressToLatlng($("#selectprovince option:selected").text() + $("#selectcity option:selected").text() + vm.address,
						function(result) {
							var dataa, urlstr;
							var Request = new QueryString();
							var itemid = Request["id"];
							if (itemid) {
								urlstr = '/webGy/editSupply';
								dataa = {
									"publishId": itemid,
									"userId": localStorage.userId,
									"supplyTitle": vm.title,
									"categoryId": $("#selectjobvalue").val(),
									"quantity": vm.quantity,
									"price": vm.price,
									"unit": vm.unit,
									"endAt": vm.end_at,
									"province": $("#selectprovince").val(),
									"city": $("#selectcity").val(),
									"address": vm.address,
									"contact": vm.contact,
									"phone": vm.phone,
									"content": vm.content,
									"specificationArray": guigecanshu,
									"imgBaseArray": vm.productpic,
									"lat": result.lat,
									"lng": result.lng
								}
							} else {
								urlstr = '/webGy/addSupply';
								dataa = {
									"userId": localStorage.userId,
									"supplyTitle": vm.title,
									"categoryId": $("#selectjobvalue").val(),
									"quantity": vm.quantity,
									"price": vm.price,
									"unit": vm.unit,
									"endAt": vm.end_at,
									"province": $("#selectprovince").val(),
									"city": $("#selectcity").val(),
									"address": vm.address,
									"contact": vm.contact,
									"phone": vm.phone,
									"content": vm.content,
									"specificationArray": guigecanshu,
									"imgBaseArray": vm.productpic,
									"lat": result.lat,
									"lng": result.lng
								}
							}
							post(urlstr, dataa,
								function(data) {
									console.log(data);
									isrepetition = false;
									if (data.result_code == 1) {
										myAlert("发布成功！");
										window.location.replace("../gongying/gongyingdetail.html?id=" + data.result.publishId);
									}
								},
								function() {
									isrepetition = false;
								})
						})
				}
			}
		});

		function selectprovince(obj) {
			vm.nowcity = vm.city[obj.value];
			$('#selectcity').val('');
		}

		function selectjob(obj) {
			vm.nowjoblist = vm.joblist[obj.value];
			$('#selectjobvalue').val('');
		}

		function selectjobitem(obj) {
			var descriptions = [];
			for (var i = 0; i < vm.nowjoblist.length; i++) {
				var obj1 = vm.nowjoblist[i];
				if (obj1.id == obj.value) {
					descriptions = obj1.descriptions;
				}
			}
			$("#guigecanshu").html('');
			if (descriptions) {
				$("#guigecanshu").append('<div class="guigetitle"> 规格参数</div>');
			} else {
				return;
			}
			for (i = 0; i < descriptions.length; i++) {
				$("#guigecanshu").append(
					'<div class="key_value"><div class="keytext">' +
					'<p><span style="color:#FF0000;"></span><span>' + descriptions[i] + '：</span></p>' +
					'</div><div class="valuetext">' +
					'<input type="text" value="" placeholder="请填写' + descriptions[i] + '" name="specification" class="inp"/>' +
					'</div>' +
					'</div>');
			}
		}

		function checkEndAt() {
			var endTime = vm.end_at;
			var end = Date.parse(new Date(endTime.replace(/\-/g, "/").replace(/\-/g, "/")));
			var current = Date.parse(new Date());
			if (end < current) {
				myAlert("有效日期必须在今天之后!");
				return false;
			}
			return true;
		}

		function checkfushu() {
			if (vm.price != '' && !(/^\d+(\.\d{2})?$/.test(vm.price))) {
				myAlert("请输入数字");
				return false;
			}
			return true;
		}

		function checkTel() {
			if (!(/^((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)$/.test(vm.phone))) {
				myAlert("电话格式不正确!");
				return false;
			}
			return true;
		}

		function checkint() {
			if (!(/^[A-Z|a-z\u4e00-\u9fa5]*$/.test(vm.unit))) {
				myAlert("单位只能输入中文或英文");
				return false;
			}
			return true;
		}

		function selectProvinceAndCity() {
			setTimeout(function() {
				vm.nowcity = city[this.obj.provinceId];
				$("#selectprovince").val(this.obj.provinceId);
				setTimeout(function() {
					$("#selectcity").val(this.obj.cityId);
				}, 50);
			}, 50);
		}

		function selectGangweiA() {
			var firstid;
			for (var key in this.jobList) {
				var dataArr = this.jobList[key];
				for (var i = 0; i < dataArr.length; i++) {
					var midObj = dataArr[i];
					if (midObj.id == this.obj.categoryId) {
						firstid = midObj.pid;
					}
				}
			}
			setTimeout(function() {
				vm.nowjoblist = this.jobList[firstid];
				$("#selectjobvalueone").val(firstid);
				setTimeout(function() {
					$("#selectjobvalue").val(this.obj.categoryId);
				}, 50);
			}, 50);
		}

		function chooseImg(e) {
			$('#ip_shili').click();
		};

		function removeLi(obj) {
			$(obj).parent().parent().remove();
			vm.productpic.remove(obj.id);
		}

		function uploadShiLi(input) {
			var files = input.files;
			for (var i = 0; i < files.length; i++) { //预览新添加的图片
				var file = files[i];
				var imageType = /^image\//;
				if (!imageType.test(file.type)) {
					myAlert("请选择图片类型上传");
					continue;
				}
				var reader = new FileReader();
				reader.readAsDataURL(file);
				reader.onload = function(e) {
					dealImage(e.target.result, {
						quality: 0.1
					}, function(value) {
						post('/upload/fileMobileBase', {
								"imgBases": value
							},
							function(data) {
								if (data.result.length > 0) {
									$("#xz").before(
										"<li class='pos-r fl'>" +
										"<div class='zhanshi2 pos-r'>" +
										"<img onclick='showimg(this)' src='" + ip+data.result[0]+ "'/>" +
										"<input type='hidden' name='shilizhanshi' value=''/>" +
										"<div id='" +data.result[0] + "' class='delet-pic' onclick='removeLi(this)'>" +
										"<img src='../static/img/9E9E7268-4F63-4B93-8850-DFF862172AEA@2x.png' />" +
										"</div>" +
										"</div>" +
										"</li>");
									vm.productpic.push(data.result[0]);
								}
							})
					});
				};
			}
		}
		
		var index = 0;
		function showimg(obj) {
			index = $(obj).parent().parent().index();
			var src = ip + vm.productpic[index];
			$('#show_img').removeClass('none');
			$('#show_img .i2').attr('src', src);
		}

		function switchImg(num) {
			index += num;
			var src;
			if (index < 0) {
				index = vm.productpic.length - 1;
			} else if (index >= vm.productpic.length) {
				index = 0;
			}
			src = ip + vm.productpic[index];
			$('#show_img .i2').attr('src', src);
		}
	</script>

</html>