<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>发布招聘</title>
		<link rel="icon" href="../img/ic_logo.ico" type="img/x-ico" />
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<link rel="stylesheet" href="../css/loading.css" />
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/home.css" />
		<link rel="stylesheet" href="../static/css/mkui.css">
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/vue.min.js"></script>
		<script type="text/javascript" src="../js/exif.js"></script>
		<script type="text/javascript" src="../js/config.js"></script>
		<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
		<script type="text/javascript">
			$(function() {
				var _this1 = null;
				$('.nav>li').hover(function() {
					_this1 = $(this);
					_this1.find('.second-nav').show();
					var _this2 = null;
					_this1.find('.second-nav').find('li').hover(function() {
						_this2 = $(this);
						_this2.find('.third-nav').show();
						_this2.find('.third-nav').hover(function() {
							$(this).show();
						}, function() {
							$(this).hide();
						});
					}, function() {
						_this2.find('.third-nav').hide();
					});
				}, function() {
					_this1.find('.second-nav').hide();
				});
			});
		</script>
	</head>

	<body>
		<script type="text/javascript" charset="utf-8">
			var companyname;
			var Request = new QueryString();
			var itemid = Request["id"];
			var obj;
			var title, address, content, quantity, contact, phone, email, fuli, gender;
			if(itemid) {
				post1('/webZp/ZhaopinById', false, {
					id: itemid,
				}, function(data) {
					this.obj = data.result;
					console.log(this.obj);
					this.title = data.result.name;
					this.address = data.result.dizhi;
					this.content = data.result.zhiweimiaoshu;
					this.quantity = data.result.quantity;
					this.contact = data.result.contact;
					this.phone = data.result.phone;
					this.email = data.result.email;
					var sexyaoqiu = data.result.sexyaoqiu;
					if(sexyaoqiu == '男') {
						this.gender = 1;
					} else if(sexyaoqiu == '女') {
						this.gender = 2;
					} else {
						this.gender = '';
					}
					var fuliarray = data.result.welfareId.split(',');
					this.fuli = fuliarray;
				})
			} else {
				this.title = '';
				this.address = '';
				this.content = '';
				this.quantity = '';
				this.contact = '';
				this.phone = '';
				this.email = '';
				this.gender = '';

				this.fuli = [];
			}
		</script>
		<div class="header">
			<ul class="nav">
				<li>
					<a href="../index.html">首页</a>
				</li>
				<li>
					<a href="#">发布</a>
					<ul class="second-nav">
						<li id="zhaopin_fb" hidden>
							<a href="">招聘发布</a>
						</li>
						<li>
							<a target="_blank" href="zhaobiaofabu.html">招标发布</a>
						</li>
						<li>
							<a target="_blank" href="gongyingfabu.html">供应发布</a>
						</li>
						<li id="qiuzhi_fb" hidden>
							<a target="_blank" href="jianlifabu.html">求职发布</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">找信息</a>
					<ul class="second-nav">
						<li>
							<a target="_blank" href="../zhaopin/zhaopinlist.html">招聘信息</a>
						</li>
						<li>
							<a target="_blank" href="../zhaobiao/zhaobiaolist.html">招标信息</a>
						</li>
						<li>
							<a target="_blank" href="../gongying/gongyinglist.html">供应信息</a>
						</li>
						<li>
							<a target="_blank" href="../qiuzhi/qiuzhilist.html">求职信息</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">我的</a>
					<ul class="second-nav">
						<li>
							<a href="#">收藏</a>
							<ul class="third-nav">
								<li id="sc_qiuzhi" hidden>
									<a target="_blank" href="../qiuzhi/qiuzhicollection.html">求职</a>
								</li>
								<li id="sc_zhaopin" hidden>
									<a target="_blank" href="../zhaopin/zhaopincollection.html">招聘</a>
								</li>
								<li>
									<a target="_blank" href="../zhaobiao/zhaobiaocollection.html">招标</a>
								</li>
								<li>
									<a target="_blank" href="../gongying/gongyingcollection.html">供应</a>
								</li>
								<li>
									<a target="_blank" href="../zixun/zixuncollection.html">资讯</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">我的订阅</a>
							<ul class="third-nav">
								<li id="zhaopin_dy" hidden>
									<a target="_blank" href="../dingyue/dingyuezhaopin.html">招聘</a>
								</li>
								<li id="qiuzhi_dy" hidden>
									<a target="_blank" href="../dingyue/dingyueqiuzhi.html">求职</a>
								</li>
								<li>
									<a target="_blank" href="../dingyue/dingyuezhaobiao.html">招标</a>
								</li>
								<li>
									<a target="_blank" href="../dingyue/dingyuegongying.html">供应</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="#">我的发布</a>
							<ul class="third-nav">
								<li id="wdfb_zhaopin" hidden>
									<a target="_blank" href="../mypublish/zhaopinmypublish.html">招聘</a>
								</li>
								<li>
									<a target="_blank" href="../mypublish/zhaobiaomypublish.html">招标</a>
								</li>
								<li>
									<a target="_blank" href="../mypublish/gongyingmypublish.html">供应</a>
								</li>
							</ul>
						</li>
						<li>
							<a target="_blank" href="../mytoubiao/mytoubiao.html">我的投标</a>
						</li>
						<li id="jlgl" hidden>
							<a id="jlgl" href="#">简历管理</a>
							<ul class="third-nav">
								<li>
									<a target="_blank" href="../jianliguanli/Intervieweedelivery.html">应聘者投递</a>
								</li>
								<li>
									<a target="_blank" href="../jianliguanli/myinvitation.html">我邀请过的</a>
								</li>
							</ul>
						</li>
						<li id="wdyxgs" hidden>
							<a target="_blank" href="../jianliguanli/myintentioncompany.html">我的意向公司</a>
						</li>
						<li>
							<a href="javascript:feedback()">意见反馈</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="bgdiv">
			<div id="app" class="content" hidden>
				<div class="fabutitle">招聘详细信息</div>
				<hr/>
				<div class="fabucontent">
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 职位名称：</span></p>
						</div>
						<div class="valuetext">
							<input type="text" placeholder="请填写职位名称" value="" v-model="title" />
						</div>
					</div>
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 招聘人数：</span></p>
						</div>
						<div class="valuetext">
							<input type="number" placeholder="请填写招聘人数" value="" v-model="quantity" />
						</div>
					</div>
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 联系人：</span></p>
						</div>
						<div class="valuetext">
							<input type="text" placeholder="请填写联系人" value="" v-model="contact" />
						</div>
					</div>
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 联系电话：</span></p>
						</div>
						<div class="valuetext">
							<input type="tel" placeholder="请填写联系电话" value="" v-model="phone" />
						</div>
					</div>
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 电子邮箱：</span></p>
						</div>
						<div class="valuetext">
							<input type="email" placeholder="请填写电子邮箱" value="" v-model="email" />
						</div>
					</div>
					<div class="clear" />
					<br>
					<br>
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 岗位类别：</span></p>
						</div>
						<div class="valuetext">
							<select class="jilianselect" id="selectjobvalueone" onchange="selectjob(this)">
								<option v-for="item in job" :value="item.itemCode">{{item.itemName}}</option>
							</select>
							<select class="jilianselect" id="selectjobvalue">
								<option value="">请选择</option>
								<option v-for="item in nowjoblist" :value="item.itemCode">{{item.itemName}}</option>
							</select>
						</div>
					</div>
					<div class="key_selectvalue">
						<div class="key_selecttext">
							<p><span style="color:#FF0000;">*</span><span> 薪资水平：</span></p>
						</div>
						<div class="selectvaluetext">
							<select v-model="xinzi">
								<option value="">请选择</option>
								<option v-for="item in xinzidic" :value='item.itemCode'>{{item.itemName}}</option>
							</select>

						</div>
					</div>
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 招聘地址：</span></p>
						</div>
						<div class="valuetext" id="pid">
							<select class="jilianselect" onchange="selectprovince(this)" id="selectprovince">
								<!--<option value="">请选择</option>-->
								<option v-for="item in province" :value="item.id">{{item.name}}</option>
							</select>
							<select class="jilianselect" id="selectcity">
								<option value="">请选择</option>
								<option v-for="item in nowcity" :value="item.id">{{item.name}}</option>
							</select>
						</div>
					</div>
					<div class="addressdetail">
						<input type="text" value="" placeholder="请填写详细地址" v-model="address" />
					</div>
					<div class="clear"></div>
					<div class="key_selectvalue">
						<div class="key_selecttext">
							<p><span style="color:#FF0000;">*</span><span> 学历要求：</span></p>
						</div>
						<div class="selectvaluetext">
							<select v-model="xueli">
								<option value="">不限</option>
								<option v-for="item in xuelidic" :value='item.itemCode'>{{item.itemName}}</option>
							</select>

						</div>
					</div>
					<div class="key_selectvalue">
						<div class="key_selecttext">
							<p><span style="color:#FF0000;">*</span><span> 经验要求：</span></p>
						</div>
						<div class="selectvaluetext">
							<select v-model="jingyan">
								<option value="">不限</option>
								<option v-for="item in jingyandic" :value='item.itemCode'>{{item.itemName}}</option>
							</select>

						</div>
					</div>
					<div class="key_selectvalue">
						<div class="key_selecttext">
							<p><span style="color:#FF0000;">*</span><span> 职称要求：</span></p>
						</div>
						<div class="selectvaluetext">
							<select v-model="zhicheng">
								<option value="">不限</option>
								<option v-for="item in zhichengdic" :value='item.itemCode'>{{item.itemName}}</option>
							</select>

						</div>
					</div>
					<div class="key_selectvalue">
						<div class="key_selecttext">
							<p><span style="color:#FF0000;">*</span><span> 性别要求：</span></p>
						</div>
						<div class="selectvaluetext">
							<select v-model="gender">
								<option value="">不限</option>
								<option v-for="item in genderdic" :value='item.id'>{{item.name}}</option>
							</select>

						</div>
					</div>
					<div class="key_selectvalue">
						<div class="key_selecttext">
							<p><span style="color:#FF0000;">*</span><span> 年龄要求：</span></p>
						</div>
						<div class="selectvaluetext">
							<select v-model="age">
								<option value="">不限</option>
								<option v-for="item in agedic" :value='item.itemCode'>{{item.itemName}}</option>
							</select>

						</div>
					</div>
					<div class="clear" />
					<br />
					<div class="mutaselect">
						<div class="mutaselectitemtitle">
							福利待遇
						</div>
						<div class="mutaselectarea">
							<div class="mutaselectitem" v-for="item in fulidic">
								<input name="Fruit" type="checkbox" :value='item.itemCode' />{{item.itemName}}
							</div>
						</div>

					</div>
					<div class="clear" />
					<br />
					<div class="textarea">
						<div>
							招聘详情
						</div>
						<textarea name="" rows="" cols="" placeholder="请填写招聘详细描述" v-model="content" style="resize: none;"></textarea>

					</div>

					<div class="h-20"></div>
					<div class="sure-btn" @click="fabu()">
						确认发布
					</div>
					<div class="h-20"></div>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
	</body>
	<script>
		//类别
		var job;
		var jobList;
		var nowJobList;
		getDicTable(false, "006", function(data) {
			var list = data.result;
			var job = [];
			var jobList = [];
			var jobM = {};
			for(var i = 0; i < list.length; i++) {
				var obj = list[i];
				if(!obj.pid) {
					job.push(obj);
				} else {
					jobList.push(obj);
				}
			}
			for(var i = 0; i < job.length; i++) {
				var array = [];
				for(var j = 0; j < jobList.length; j++) {
					if(job[i].id == jobList[j].pid) {
						array.push(jobList[j]);
						jobM['' + job[i].itemCode] = array;
					}
				}
			}
			this.job = job;
			this.jobList = jobM;
			for(var key in jobM) {
				this.nowJobList = jobM[key];
				break;
			}
			if(this.obj) {
				selectGangweiA();
			}
		})
		var province;
		var city;
		var nowcity;
		getCity(function(p, c) {
			province = p;
			city = c;
			nowcity = city['1'];
			if(this.obj) {
				selectProvinceAndCity();
			}
		});
		//福利待遇
		var fulidic;
		getDicTable(false, "002", function(data) {
			this.fulidic = data.result;
			if(this.obj) {
				selectFuli();
			}
		})
		//薪资
		getDicTable(true, "001", function(data) {
			vm.xinzidic = data.result;
			if(this.obj) {
				for(var i = 0; i < vm.xinzidic.length; i++) {
					var obj = vm.xinzidic[i];
					if(obj.itemName == this.obj.xinzi) {
						vm.xinzi = obj.itemCode;
					}
				}
			}
		})
		//学历要求
		getDicTable(true, "003", function(data) {
			vm.xuelidic = data.result;
			if(this.obj) {
				for(var i = 0; i < vm.xuelidic.length; i++) {
					var obj = vm.xuelidic[i];
					if(obj.itemName == this.obj.xueliyaoqiu) {
						vm.xueli = obj.itemCode;
					}
				}
			}
		})
		//经验要求
		getDicTable(true, "004", function(data) {
			vm.jingyandic = data.result;
			if(this.obj) {
				for(var i = 0; i < vm.jingyandic.length; i++) {
					var obj = vm.jingyandic[i];
					if(obj.itemName == this.obj.jingyanyaoqiu) {
						vm.jingyan = obj.itemCode;
					}
				}
			}
		})
		//职称要求
		getDicTable(true, "005", function(data) {
			vm.zhichengdic = data.result;
			if(this.obj) {
				if(this.obj.professionalId) {
					vm.zhicheng = this.obj.professionalId;
				}
			}
		})
		//年龄要求
		getDicTable(true, "012", function(data) {
			vm.agedic = data.result;
			if(this.obj) {
				if(this.obj.ageId) {
					vm.age = this.obj.ageId;
				}
			}
		})
		getUserInfo(localStorage.userId, function(data) {
			if(data.result.regStatus != 1) {
				window.location.href = "../register/register.html";
				return;
			} else {
				if(data.result.type == 2) {
					if(data.result.regist == 0) {
						window.location.href = "../register/companyregister.html";
						return;
					} else {
						if(data.result.expire == 0) {
							alert("您的注册申请正在审核中,审核通过后会有消息提醒");
							window.location.href = "../index.html";
							return;
						}
					}
				}
			}
			userInfo = data.result;
			$('#app').show();
			if(userInfo.type == 1) {
				$('#sc_zhaopin').show();
				$('#wddy_zhaopin').show();
				$('#wdyxgs').show();
				$('#qiuzhi_fb').show();
				$('#zhaopin_dy').show();
			} else {
				$('#sc_qiuzhi').show();
				$('#wddy_qiuzhi').show();
				$('#wdfb_zhaopin').show();
				$('#jlgl').show();
				$('#zhaopin_fb').show();
				$('#qiuzhi_dy').show();
			}
		})
		var isrepetition = false;
		var vm = new Vue({
			el: '#app',
			data: {
				province: province,
				city: city,
				nowcity: nowcity,
				job: this.job,
				joblist: this.jobList,
				nowjoblist: this.nowJobList,
				title: this.title,
				quantity: this.quantity,
				address: this.address,
				contact: this.contact,
				phone: this.phone,
				email: this.email,
				content: this.content,
				fulidic: this.fulidic,
				xinzidic: [],
				xinzi: '',
				xuelidic: [],
				xueli: '',
				jingyandic: [],
				jingyan: '',
				zhichengdic: [],
				zhicheng: '',
				agedic: [],
				age: '',
				genderdic: [{
					"id": 1,
					"name": "男"
				}, {
					"id": 2,
					"name": "女"
				}],
				gender: this.gender,
			},
			methods: {
				fabu: function() {
					var selectobj = document.getElementsByName("Fruit");
					var check_val = [];
					for(k in selectobj) {
						if(selectobj[k].checked)
							check_val.push(selectobj[k].value);
					}
					console.log(check_val);
					console.log("职位" + vm.title);
					console.log("人数" + vm.quantity);
					console.log("联系人联系电话" + vm.phone);
					console.log("电子邮箱" + vm.email);
					console.log("类别" + $("#selectjobvalue").val());
					console.log("薪资" + vm.xinzi);
					console.log("省" + $("#selectprovince").val());
					console.log("市" + $("#selectcity").val());
					console.log("地址" + vm.address);
					console.log("学历" + vm.xueli);
					console.log("经验" + vm.jingyan);
					console.log("职称" + vm.zhicheng);
					console.log("性别" + vm.gender);
					console.log("年龄" + vm.age);
					console.log("详情" + vm.content);
					if(!checkEmail() || !checkTel()) {
						return false;
					}
					if(vm.title == "") {
						myAlert('请填写职位名称')
						return;
					}
					if($("#selectjobvalue option:selected").text() == '请选择') {
						myAlert('请选择岗位类别')
						return
					}
					if($('.select-xizi').val() == '') {
						myAlert('请选择薪资水平')
						return;
					}
					if($("#selectcity option:selected").text() == '请选择') {
						myAlert('请选择工作城市')
						return;
					}
					if(vm.address == "") {
						myAlert('请填写详细地址')
						return
					}
					if(vm.content == "") {
						myAlert('请填写职位和岗位要求')
						return;
					}
					if(vm.quantity == "") {
						myAlert('请填写招聘人数')
						return;
					}
					if(vm.contact == "") {
						myAlert('请填写联系人姓名')
						return;
					}
					if(isrepetition) {
						return;
					}
					isrepetition = true;
					addressToLatlng($("#selectprovince option:selected").text() + $("#selectcity option:selected").text() + vm.address, function(result) {
						var dataa, urlstr;
						var Request = new QueryString();
						var itemid = Request["id"];
						if(itemid) {
							urlstr = '/webZp/editZhaopin';
							dataa = {
								"publishId": itemid,
								"userId": localStorage.userId,
								"positionName": vm.title,
								"post": $("#selectjobvalue").val(),
								"salary": vm.xinzi,
								"welfares": check_val,
								"province": $("#selectprovince").val(),
								"city": $("#selectcity").val(),
								"address": vm.address,
								"education": vm.xueli,
								"experience": vm.jingyan,
								"professionalRank": vm.zhicheng,
								"quantity": vm.quantity,
								"contact": vm.contact,
								"phone": vm.phone,
								"email": vm.email,
								"age": vm.age,
								"gender": vm.gender,
								"content": vm.content,
								"lat": result.lat,
								"lng": result.lng
							}
						} else {
							urlstr = '/webZp/addZhaopin';
							dataa = {
								"userId": localStorage.userId,
								"positionName": vm.title,
								"post": $("#selectjobvalue").val(),
								"salary": vm.xinzi,
								"welfares": check_val,
								"province": $("#selectprovince").val(),
								"city": $("#selectcity").val(),
								"address": vm.address,
								"education": vm.xueli,
								"experience": vm.jingyan,
								"professionalRank": vm.zhicheng,
								"quantity": vm.quantity,
								"contact": vm.contact,
								"phone": vm.phone,
								"email": vm.email,
								"age": vm.age,
								"gender": vm.gender,
								"content": vm.content,
								"lat": result.lat,
								"lng": result.lng
							}
						}
						post(urlstr, dataa,
							function(data) {
								isrepetition = false;
								if(data.result_code == '1') {
									myAlert("发布成功!");
									window.location.replace("../zhaopin/zhaopindetail.html?id=" + data.result
										.publishId)
								}
							},
							function() {
								isrepetition = false;
							})
					})
				}
			}
		});

		function checkEmail() {
			var email = vm.email;
			if(!email.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/)) {
				myAlert("email格式不正确！请重新输入!");
				return false;
			}
			return true;
		}

		function checkTel() {
			if(!(/^((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)$/.test(vm.phone))) {
				myAlert("电话格式不正确!");
				return false;
			}
			return true;
		}

		function selectprovince(obj) {
			vm.nowcity = vm.city[obj.value];
			$('#selectcity').val('');
		}

		function selectjob(obj) {
			vm.nowjoblist = vm.joblist[obj.value];
			$('#selectjobvalue').val('');
		}

		function selectProvinceAndCity() {
			setTimeout(function() {
				vm.nowcity = city[this.obj.province];
				$("#selectprovince").val(this.obj.province);
				setTimeout(function() {
					$("#selectcity").val(this.obj.cityId);
				}, 50);
			}, 50);
		}

		function selectGangweiA() {
			var firstid;
			for(var key in this.jobList) {
				var dataArr = this.jobList[key];
				for(var i = 0; i < dataArr.length; i++) {
					var midObj = dataArr[i];
					if(midObj.itemCode == this.obj.postId) {
						firstid = midObj.itemCode;
					}
				}
			}
			setTimeout(function() {
				vm.nowjoblist = this.jobList[firstid];
				$("#selectjobvalueone").val(firstid);
				setTimeout(function() {
					$("#selectjobvalue").val(this.obj.postId);
				}, 50);
			}, 50);
		}

		function selectFuli() {
			var selectobj = document.getElementsByName("Fruit");
			setTimeout(function() {
				for(k in selectobj) {
					if(selectobj[k].value) {
						for(var i = 0; i < this.fuli.length; i++) {
							var fuliitem = this.fuli[i];
							if(selectobj[k].value == fuliitem) {
								selectobj[k].checked = true;
							}
						}
					}
				}
			}, 500);
		}
	</script>

</html>