<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>发布招标</title>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/home.css" />
		<link rel="stylesheet" href="../static/css/mkui.css">
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/vue.min.js"></script>
		<script type="text/javascript" src="../js/ydui.js"></script>
		<script type="text/javascript" src="../js/config.js"></script>
		<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
		<script type="text/javascript">
			$(function() {
				var _this1 = null;
				$('.nav>li').hover(function() {
					_this1 = $(this);
					_this1.find('.second-nav').show();
					var _this2 = null;
					_this1.find('.second-nav').find('li').hover(function() {
						_this2 = $(this);
						_this2.find('.third-nav').show();
						_this2.find('.third-nav').hover(function() {
							$(this).show();
						}, function() {
							$(this).hide();
						});
					}, function() {
						_this2.find('.third-nav').hide();
					});
				}, function() {
					_this1.find('.second-nav').hide();
				});
			});
		</script>

	</head>

	<body>
		<script type="text/javascript" charset="utf-8">
			getUserInfo(localStorage.userId, function(data) {
				if(data.result.regStatus != 1) {
					window.location.href = "../register/register.html";
					return;
				} else {
					if(data.result.type == 2) {
						if(data.result.regist == 0) {
							window.location.href = "../register/company.html";
							return;
						} else {
							if(data.result.expire == 0) {
								alert("您的注册申请正在审核中,审核通过后会有消息提醒");
								window.location.href = "../fabu.html";
								return;
							}
						}
					}
				}
				$('#app').show();
			})
			var Request = new QueryString();
			var itemid = Request["id"];
			var obj;
			var title, quantity, price, unit, end_at, address, contact, phone, content;
			if(itemid) {
				post1('/webZb/ZhaobiaoDetail', false, {
					id: itemid,
				}, function(data) {
					this.obj = data.result;
					this.title = data.result.title;
					this.quantity = data.result.quantity;
					this.price = data.result.price;
					this.unit = data.result.unit;
					this.end_at = data.result.endAt;
					this.address = data.result.address;
					this.contact = data.result.contact;
					this.phone = data.result.phone;
					this.content = data.result.content;
					console.log(this.obj);
				})
			}
		</script>
		<div class="header">
			<ul class="nav">
				<li>
					<a href="../index.html">首页</a>
				</li>
				<li>
					<a href="#">发布</a>
					<ul class="second-nav">
						<li>
							<a href="zhaopinfabu.html">招聘发布</a>
						</li>
						<li>
							<a href="zhaobiaofabu.html">招标发布</a>
						</li>
						<li>
							<a href="gongyingfabu.html">供应发布</a>
						</li>
						<li>
							<a href="jianli/jianli.html">求职发布</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">找信息</a>
					<ul class="second-nav">
						<li>
							<a href="#">招聘信息</a>
						</li>
						<li>
							<a href="#">招标信息</a>
						</li>
						<li>
							<a href="#">供应信息</a>
						</li>
						<li>
							<a href="#">求职信息</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">我的</a>
					<ul class="second-nav">
						<li>
							<a href="#">收藏</a>
						</li>
						<li>
							<a href="#">我的订阅</a>
							<ul class="third-nav">
								<li>
									<a href="../dingyue/dingyuezhaopin.html">招聘</a>
								</li>
								<li>
									<a href="../dingyue/dingyueqiuzhi.html">求职</a>
								</li>
								<li>
									<a href="../dingyue/dingyuezhaobiao.html">招标</a>
								</li>
								<li>
									<a href="../dingyue/dingyuegongying.html">供应</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">我的发布</a>
						</li>
						<li>
							<a href="#">我的投标</a>
						</li>
						<li>
							<a href="#">意见反馈</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="bgdiv">

			<div id="app" class="content" hidden>
				<div class="fabutitle">招标详细信息</div>
				<hr/>
				<div class="fabucontent">
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 招标标题：</span></p>
						</div>
						<div class="valuetext">
							<input type="text" placeholder="招标标题" value="" v-model="title" />
						</div>
					</div>
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 联系人：</span></p>
						</div>
						<div class="valuetext">
							<input type="text" value="" placeholder="联系人" v-model="contact" />
						</div>
					</div>
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 联系电话：</span></p>
						</div>
						<div class="valuetext">
							<input type="tel" value="" placeholder="请填写联系电话" v-model="phone" onchange="checkTel()" />
						</div>
					</div>
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 招标数量：</span></p>
						</div>
						<div class="valuetext">
							<input type="number" value="" placeholder="招标数量" v-model="quantity" />
						</div>
					</div>
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 单价：</span></p>
						</div>
						<div class="valuetext">
							<input type="number" value="" placeholder="单价" v-model="price" onkeyup="checkfushu()" />
						</div>
					</div>
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 单位：</span></p>
						</div>
						<div class="valuetext">
							<input type="text" value="" placeholder="单位" v-model="unit" onchange="checkint()" />
						</div>
					</div>
					<div class="clear" />
					<br>
					<br>
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 招标类别：</span></p>
						</div>
						<div class="valuetext">
							<select class="jilianselect" id="selectjobvalueone" onchange="selectjob(this)">
								<option v-for="item in job" :value="item.id">{{item.title}}</option>
							</select>
							<select class="jilianselect" id="selectjobvalue" onchange="selectjobitem(this)">
								<option value="">请选择</option>
								<option v-for="item in nowjoblist" :value="item.id">{{item.title}}</option>
							</select>
						</div>
					</div>

					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 有效期至：</span></p>
						</div>
						<div class="valuetext">
							<input type="date" value="" placeholder="单位" v-model="end_at" onblur="checkEndAt()" />
						</div>
					</div>
					<div class="key_value">
						<div class="keytext">
							<p><span style="color:#FF0000;">*</span><span> 招标地址：</span></p>
						</div>
						<div class="valuetext" id="pid">
							<select class="jilianselect" onchange="selectprovince(this)" id="selectprovince">
								<!--<option value="">请选择</option>-->
								<option v-for="item in province" :value="item.id">{{item.name}}</option>
							</select>
							<select class="jilianselect" id="selectcity">
								<option value="">请选择</option>
								<option v-for="item in nowcity" :value="item.id">{{item.name}}</option>
							</select>
						</div>
					</div>
					<div class="addressdetail">
						<input type="text" value="" placeholder="请填写详细地址" v-model="address" />
					</div>
					<br>
					<br>
					<br>
					<br>
					<div class="clear"></div>
					<br>
					<div class="guigecanshu_class" id="guigecanshu">
					</div>
					<div class="clear" />
					<div class="textarea">
						<div>
							招标详情
						</div>
						<textarea name="" rows="" cols="" placeholder="请填写招标详细描述" v-model="content"></textarea>

					</div>

					<div class="h-20"></div>
					<div class="sure-btn" @click="fabu()">
						确认发布
					</div>
					<div class="h-20"></div>
					<br>
					<br>
					<br>

				</div>

			</div>
		</div>
	</body>

	<script>
		//类别
		var job;
		var jobList;
		var nowJobList;
		getClassifyTable(false, "zhaobiao", function(data) {
			var list = data.result;
			var job = [];
			var jobList = [];
			var jobM = {};
			for(var i = 0; i < list.length; i++) {
				var obj = list[i];
				if(obj.pid == 0) {
					job.push(obj);
				} else {
					jobList.push(obj);
				}
			}
			for(var i = 0; i < job.length; i++) {
				var array = [];
				for(var j = 0; j < jobList.length; j++) {
					if(job[i].id == jobList[j].pid) {
						array.push(jobList[j]);
						jobM['' + job[i].id] = array;
					}
				}
			}
			for(var i = 0; i < job.length - 1; i++) {
				for(var j = 0; j < job.length - 1 - i; j++) {
					if(job[j].id > job[j + 1].id) {
						var temp = job[j];
						job[j] = job[j + 1];
						job[j + 1] = temp;
					}
				}
			}
			this.job = job;
			this.jobList = jobM;
			for(var key in jobM) {
				this.nowJobList = jobM[key];
				break;
			}
			if(this.obj) {
				selectGangweiA();
			}
		})
		var province;
		var city;
		var nowcity;
		getCity(function(p, c) {
			province = p;
			city = c;
			nowcity = city['1'];
			if(this.obj) {
				selectProvinceAndCity();
			}
		});
		var isrepetition = false;
		var vm = new Vue({
			el: '#app',
			data: {
				province: province,
				city: city,
				nowcity: nowcity,
				job: this.job,
				joblist: this.jobList,
				nowjoblist: this.nowJobList,
				title: this.title,
				quantity: this.quantity,
				price: this.price,
				unit: this.unit,
				end_at: this.end_at,
				address: this.address,
				contact: this.contact,
				phone: this.phone,
				content: this.content,
			},
			methods: {
				fabu: function() {
					var guigecanshu = new Array();
					$("input[name='specification']").each(function(index) {
						guigecanshu.push(this.value);
					});
					if(!checkEndAt() || !checkTel() || !checkint || !checkfushu()) {
						return false;
					}
					if($("#selectjobvalue option:selected").text() == '请选择') {
						alert('请选择招标类别')
						return
					}
					if(vm.title == "") {
						alert('请填写招标标题')
						return
					}
					if(vm.quantity == "") {
						alert('请填写招标数量')
						return
					}
					if(vm.quantity.length > 10) {
						alert('输入的供应数量不合法')
						return
					}
					if(vm.price.length > 10) {
						alert('输入的单价不合法')
						return
					}
					if(vm.unit == "") {
						alert('请填写单位')
						return
					}
					if(vm.end_at == '') {
						alert('请选择有效日期')
						return
					}
					if($("#selectcity option:selected").text() == '请选择') {
						alert('请选择工作城市')
						return
					}
					if(vm.address == "") {
						alert('请填写详细地址')
						return
					}
					if(vm.contact == "") {
						alert('请填写联系人姓名')
						return
					}
					if(vm.content == "") {
						alert('请填写招标详细描述')
						return
					}
					var yes = 1;
					$(".inp").each(function() {
						if($(this).val() == '') {
							yes = 0;
							return;
						}
					})
					if(yes == 0) {
						alert('参数规格填写不完整!');
						return;
					}
					if(isrepetition) {
						return;
					}
					isrepetition = true;
					addressToLatlng($("#selectprovince option:selected").text() + $("#selectcity option:selected").text() + vm.address,
						function(result) {
							var dataa, urlstr;
							var Request = new QueryString();
							var itemid = Request["id"];
							if(itemid) {
								urlstr = '/webZb/editZhaobiao';
								dataa = {
									"publishId": itemid,
									"userId": localStorage.userId,
									"tenderTitel": vm.title,
									"categoryId": $("#selectjobvalue").val(),
									"quantity": vm.quantity,
									"price": vm.price,
									"unit": vm.unit,
									"endAt": vm.end_at,
									"province": $("#selectprovince").val(),
									"city": $("#selectcity").val(),
									"address": vm.address,
									"contact": vm.contact,
									"phone": vm.phone,
									"content": vm.content,
									"specificationArray": guigecanshu,
									"lat": result.lat,
									"lng": result.lng
								}
							} else {
								urlstr = '/webZb/addZhaobiao';
								dataa = {
									"userId": localStorage.userId,
									"tenderTitel": vm.title,
									"categoryId": $("#selectjobvalue").val(),
									"quantity": vm.quantity,
									"price": vm.price,
									"unit": vm.unit,
									"endAt": vm.end_at,
									"province": $("#selectprovince").val(),
									"city": $("#selectcity").val(),
									"address": vm.address,
									"contact": vm.contact,
									"phone": vm.phone,
									"content": vm.content,
									"specificationArray": guigecanshu,
									"lat": result.lat,
									"lng": result.lng
								}
							}
							post(urlstr, dataa,
								function(data) {
									console.log(data);
									isrepetition = false;
									if(data.result_code == 1) {
										alert("发布成功！");
										window.location.replace("../home/zhaobiao/zhaobiaodetail.html?id=" + data.result.publishId + "&iszb=iszb");
									}
								},
								function() {
									isrepetition = false;
								})
						})
				}
			}
		});

		function selectprovince(obj) {
			vm.nowcity = vm.city[obj.value];
			$('#selectcity').val('');
		}

		function selectjob(obj) {
			vm.nowjoblist = vm.joblist[obj.value];
			$('#selectjobvalue').val('');
		}

		function selectjobitem(obj) {
			var descriptions = [];
			for(var i = 0; i < vm.nowjoblist.length; i++) {
				var obj1 = vm.nowjoblist[i];
				if(obj1.id == obj.value) {
					descriptions = obj1.descriptions;
				}
			}
			$("#guigecanshu").html('');
			if(descriptions) {
				$("#guigecanshu").append('<div class="guigetitle"> 规格参数</div>');
			} else {
				return;
			}
			for(i = 0; i < descriptions.length; i++) {
				$("#guigecanshu").append(
					'<div class="key_value"><div class="keytext">' +
					'<p><span style="color:#FF0000;"></span><span>' + descriptions[i] + '：</span></p>' +
					'</div><div class="valuetext">' +
					'<input type="text" value="" placeholder="请填写' + descriptions[i] + '" name="specification" class="inp"/>' +
					'</div>' +
					'</div>');
			}
		}

		function checkEndAt() {
			var endTime = vm.end_at;
			var end = Date.parse(new Date(endTime.replace(/\-/g, "/").replace(/\-/g, "/")));
			var current = Date.parse(new Date());
			if(end < current) {
				alert("有效日期必须在今天之后!");
				return false;
			}
			return true;
		}

		function checkfushu() {
			if(vm.price != '' && !(/^\d+(\.\d{2})?$/.test(vm.price))) {
				alert("请输入数字");
				return false;
			}
			return true;
		}

		function checkTel() {
			if(!(/^((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)$/.test(vm.phone))) {
				alert("电话格式不正确!");
				return false;
			}
			return true;
		}

		function checkint() {
			if(!(/^[A-Z|a-z\u4e00-\u9fa5]*$/.test(vm.unit))) {
				alert("单位只能输入中文或英文");
				return false;
			}
			return true;
		}

		function selectProvinceAndCity() {
			setTimeout(function() {
				vm.nowcity = city[this.obj.provinceId];
				$("#selectprovince").val(this.obj.provinceId);
				setTimeout(function() {
					$("#selectcity").val(this.obj.cityId);
				}, 50);
			}, 50);
		}

		function selectGangweiA() {
			var firstid;
			for(var key in this.jobList) {
				var dataArr = this.jobList[key];
				for(var i = 0; i < dataArr.length; i++) {
					var midObj = dataArr[i];
					if(midObj.id == this.obj.categoryId) {
						firstid = midObj.pid;
					}
				}
			}
			setTimeout(function() {
				vm.nowjoblist = this.jobList[firstid];
				$("#selectjobvalueone").val(firstid);
				setTimeout(function() {
					$("#selectjobvalue").val(this.obj.categoryId);
				}, 50);
			}, 50);
		}
	</script>

</html>